<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('About')%></title>
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
	
    <div class="jumbotron side_bar" style='width:100%;'>
		<% include navbar.ejs %>
		<h2><%=l('About')%></h2>
		<div style="padding:20px">
		
		<p>
		Hello and thank you for your interest in this website.

		<h3>Suggestions</h3>
		<p>
		I'm always open to suggestions, critcism, banter or praise. Under contact info you'll find plenty of ways to get in touch. 
		
		<h3>Helping out</h3>
		<p>
		If you want to help out in some way, feel free to drop me a line. I'm especially looking for someone who could translate it into Russian as a big part of the wot/wows player base speaks Russian. I also have trouble finding/making some high quality maps for wows.
		
		<h3>The code</h3>
		<p>
		I just want to reach as many people as possible, so I've decided to make it open source under the MIT license, basically allowing you to use it in any way you see fit including but not limited to your own commercial or non-commercial projects.
		
		The source is available at
		<a href='https://github.com/karellodewijk/wottactics'>https://github.com/karellodewijk/wottactics</a>

		<h3>Adds and revenue</h3>
		<p>
		I might add a small unobtrusive advertisement or donate button to the main page at some point in the future if hosting cost becomes a concern. However, the actual tactic part of the website is and will remain free of charge and free of adds.
		
		<h3>Contact info:</h3>
		
		<p>
		
		<div class="row">
			<div class="col-md-2">Name</div>
			<div class="col-md-2">Kalith</div>
		</div>
		<div class="row">
			<div class="col-md-2">e-mail</div>
			<div class="col-md-2"><a href="mailto:pkalith@gmail.com">pkalith@gmail.com</a></div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-md-2">EU profile</div>
			<div class="col-md-10"><a href='http://worldoftanks.eu/community/accounts/505943778-Kalith/'>http://worldoftanks.eu/community/accounts/505943778-Kalith/</a></div>
		</div>
		<div class="row">
			<div class="col-md-2">NA profile</div>
			<div class="col-md-10"><a href='http://worldoftanks.com/community/accounts/1003817145-Kalid/'>http://worldoftanks.com/community/accounts/1003817145-Kalid/</a></div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-md-2">EU forum topic</div>
			<div class="col-md-10"><a href='http://forum.worldoftanks.eu/index.php?/topic/517375-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.eu/index.php?/topic/517375-wot-tactic-planner-wottactictk/</a></div>
		</div>	
		<div class="row">
			<div class="col-md-2">NA forum topic</div>
			<div class="col-md-10"><a href='http://forum.worldoftanks.com/index.php?/topic/456773-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.com/index.php?/topic/456773-wot-tactic-planner-wottactictk/</a></div>
		</div>		
		&nbsp;
		<div class="row">
			<div class="col-md-2">EU Wot blitz post</div>
			<div class="col-md-10"><a href='http://forum.wotblitz.eu/index.php?/topic/16048-tactic-planner-website/'>http://forum.wotblitz.eu/index.php?/topic/16048-tactic-planner-website/</a></div>
		</div>	
		<div class="row">
			<div class="col-md-2">NA Wot blitz post</div>
			<div class="col-md-10"><a href='http://forum.wotblitz.com/index.php?/topic/35189-tactic-planner-website-wottactictkblitzhtml/'>http://forum.wotblitz.com/index.php?/topic/35189-tactic-planner-website-wottactictkblitzhtml/</a></div>
		</div>	
		&nbsp;
		<div class="row">
			<div class="col-md-2">AW post</div>
			<div class="col-md-10"><a href='http://aw.my.com/en/forum/showthread.php?26923-Armored-warfare-tactic-planning-website-%28awtactic-tk%29'>http://aw.my.com/en/forum/showthread.php?26923-Armored-warfare-tactic-planning-website-%28awtactic-tk%29</a></div>
		</div>	
			
		<p><p>
		<h3>Special thanks to:</h3>
		<p>
		<ul>
		<li>GPS4ever and maroar, for all the testing and suggestions.</li> 
		<li>Jingles, for spreading the word.</li>
		<li><a href='http://maptactic.com'>maptactic</a> and <a href='https://www.pyratron.com/stratsketch'>stratsketch</a> for inspiration and maybe borrowing a map or two.</li> 
		<li><a href='http://aw-guide.com'>aw-guide</a> and <a href='https://www.pyratron.com/stratsketch'>stratsketch</a> for the Armored Warfare maps.</li>
		<li>Reluctanttheist for the blitz maps.</li>
		<li>Aleksandar(Ultra_Seljacina) for the Serbian translation.
		<li>Daniel Janssen(DeeJayBass) for the German translation.
		<li>Adriel Vargas(adrieeel) for the Spanish translation.
		<li>toxohut for the Polish translation and excellent feedback.
		<li>Olaf Darkpassenger for the Czech translation.
		</ul>
		
		<h3>Legal</h3>
		<p>
		<ul><li><a href="privacypolicy.html">Privacy policy</a>
		
		</div>
	</div>
		<% include footer.ejs %>
	</div>
</body>
