<!DOCTYPE HTML>
<html lang="<%=locale%>">
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('About')%></title>
</head>
<body>
	<% include navbar.ejs %>
	<script>
		document.getElementById('about').className += " active";
	</script>
	<div class="container" style='width:100%;'>	
		<div class="jumbotron content content_margin">
			<p>
			Olá e obrigado pelo seu interesse neste site.

			<h3> Sugestões </h3>
			<p>
			Estou sempre aberto a sugestões, criticas, agradecimentos. Em informações de contato, você encontrará muitas maneiras de entrar em contato. 
			
			<h3> Ajuda </h3>
			<p>
			Se você quiser ajudar de alguma forma, sinta-se livre para me deixar uma linha. Em particular, estou procurando alguns mapas de alta qualidade para wows. Se você acha que esta ferramenta seria um grande trunfo para algum outro jogo, ficarei feliz em apoiá-lo se você reunir os mapas e ícones necessários. Também saúdo traduções novas ou melhoradas.
			
			<h3> O código </h3>
			<p>
			Eu só quero alcançar o maior número possível de pessoas, por isso decidi torná-lo de código aberto sob a licença MIT, basicamente, permitindo você de usá-lo de qualquer forma que você entender, mas limitando ao seu próprio uso e não para uso comercial.
			
			A fonte está disponível em
			<a href='https://github.com/karellodewijk/wottactics'>https://github.com/karellodewijk/wottactics</a>
			
			<h3> Informações de contato: </h3>
			
			<p>
			
			<div class="row">
				<div class="col-md-2">Nome</div>
				<div class="col-md-2">Kalith</div>
			</div>
			<div class="row">
				<div class="col-md-2">E-mail</div>
				<div class="col-md-2"><a href="mailto:pkalith@gmail.com">pkalith@gmail.com</a></div>
			</div>
			&nbsp;
			<div class="row">
				<div class="col-md-2">Perfil EU</div>
				<div class="col-md-10"><a href='http://worldoftanks.eu/community/accounts/505943778-Kalith/'>http://worldoftanks.eu/community/accounts/505943778-Kalith/</a></div>
			</div>
			<div class="row">
				<div class="col-md-2">Perfil NA</div>
				<div class="col-md-10"><a href='http://worldoftanks.com/community/accounts/1003817145-Kalid/'>http://worldoftanks.com/community/accounts/1003817145-Kalid/</a></div>
			</div>
			&nbsp;
			<div class="row">
				<div class="col-md-2">EU fórum tópico</div>
				<div class="col-md-10"><a href='http://forum.worldoftanks.eu/index.php?/topic/517375-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.eu/index.php?/topic/517375-wot-tactic-planner-wottactictk/</a></div>
			</div>
			<div class="row">
				<div class="col-md-2">RU fórum tópico</div>
				<div class="col-md-10"><a href='http://forum.worldoftanks.ru/index.php?/topic/1744734-ruwottacticeu/'>http://forum.worldoftanks.ru/index.php?/topic/1744734-ruwottacticeu/</a></div>
			</div>		
			<div class="row">
				<div class="col-md-2">NA fórum tópico</div>
				<div class="col-md-10"><a href='http://forum.worldoftanks.com/index.php?/topic/456773-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.com/index.php?/topic/456773-wot-tactic-planner-wottactictk/</a></div>
			</div>		
			<div class="row">
				<div class="col-md-2">SEA fórum tópico</div>
				<div class="col-md-10"><a href='http://forum.worldoftanks.asia/index.php?/topic/63198-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.asia/index.php?/topic/63198-wot-tactic-planner-wottactictk/</a></div>
			</div>						
			
			&nbsp;
			<div class="row">
				<div class="col-md-2">EU Wot blitz postar</div>
				<div class="col-md-10"><a href='http://forum.wotblitz.eu/index.php?/topic/16048-tactic-planner-website/'>http://forum.wotblitz.eu/index.php?/topic/16048-tactic-planner-website/</a></div>
			</div>	
			<div class="row">
				<div class="col-md-2">NA Wot blitz postar</div>
				<div class="col-md-10"><a href='http://forum.wotblitz.com/index.php?/topic/35189-tactic-planner-website-wottactictkblitzhtml/'>http://forum.wotblitz.com/index.php?/topic/35189-tactic-planner-website-wottactictkblitzhtml/</a></div>
			</div>	
			&nbsp;
			<div class="row">
				<div class="col-md-2">AW postar</div>
				<div class="col-md-10"><a href='http://aw.my.com/en/forum/showthread.php?26923-Armored-warfare-tactic-planning-website-%28awtactic-tk%29'>http://aw.my.com/en/forum/showthread.php?26923-Armored-warfare-tactic-planning-website-%28awtactic-tk%29</a></div>
			</div>	
				
			<p><p>
			<h3> Agradecimentos especiais a: </h3>
			<p>
			<ul>
			<li>Daveyboy por fornecer os mapas e os ícones da Eternal Crusade.
			<li>Smurfy de <a href="http://mwo.smurfy-net.de/">http://mwo.smurfy-net.de/</a> Por fornecer ajuda com os mapas MWO
			<li><a href="https://maps.mrbcleague.com:8443/">https://maps.mrbcleague.com:8443/</a> Para alguns ícones de MWO.
			<li>WOT_Avenger, pela tradução para o grego
			<li>Plissken por algumas boas sugestões. 
			<li>juho-p de: <a href="https://github.com/juho-p/wot-debugserver">wot-debugserver</a>. Não só é uma ótima maneira de picar ao redor no cliente wot como ele está sendo executado. O wottactic mod é construído sobre ele. Se você quiser entrar em modding, é aqui que você começa.
			<li>TomNedry pelos os mapas de esquadrão.
			<li><a href="http://www.simpleradar.com/">http://www.simpleradar.com/</a> por contribuir com o alto contraste nos mapas cs
			<li>David Patterson	and Aragorn2lyon para algumas excelentes sugestões.
			<li>SebastCBien[1-AUS], N3w2012[1-AUS] por traduzir para o Francês</li>
			<li>Um grande obrigado a locastan e ShuraBB por seus <a href="http://worldof-tanks.com/locastans-enh-hd-minimap-gen-2/">Mini-mapas em HD</a></li>
			<li><a href="http://wotbase.net">wotbase</a> Pelos mapas alternativos</li>
			<li>Андрей, por traduzir para o  russo..
			<li>GPS4ever, maroar and H311fi5h, por todos os testes e sugestões..</li> 
			<li>Jingles, pela divulgação <a href="https://www.youtube.com/watch?v=7aBl7YTJxqk">word</a>.</li>
			<li><a href='http://maptactic.com'>maptactic</a> e <a href='https://www.pyratron.com/stratsketch'>stratsketch</a> pela inspiração </li> 
			<li><a href='http://aw-guide.com'>aw-guide</a> pelos mapas Armored Warfare.</li>
			<li>Reluctanttheist Pelos mapas the blitz.</li>
			<li>Aleksandar(Ultra_Seljacina) Por traduzir para o Sérvio..
			<li>Daniel Janssen(DeeJayBass) Por traduzir para o Alemão.
			<li>Adriel Vargas(adrieeel) Por traduzir paa o Espanhol.
			<li>toxohut por taduzir para o Polonês e pelo excelente feedback..
			<li>Olaf Darkpassenger pr traduzir para o Checo.
			<li>Etna99_ por traduzir para o Finlandês.
			<li>Jackhammer, Tomsa Pelos efeitos de contornos dos ícones  <a href="http://forum.worldoftanks.eu/index.php?/topic/457860-0914-tomsas-contour-icons-mod-jackhammers-style/">mod</a></li>
			<li><a href='https://github.com/'>GitHub</a> Por hospedar o código e parte do site.</li>
			<li>Wargaming, Obsidian, Riot games, Blizzard, Valve, Ubisoft, Crytek, Piranha Games, Bandai Nameco and Offworld Industries por os seus jogos fantásticos e ativos.
			</ul>

			<h3>Doadores, sem ordem particular</h3>
			<p>
			<ul>
			<li>3meyc
			<li>Zombie_Farmer
			<li>H311fi5h
			<li>Boris Fekar (FPC clan)
			<li>Toms teteris
			<li>Sounds Alive
			<li>Jouni Muttilainen
			</ul>
			
			<h3>Legal</h3>
			<p>
			<ul><li><a href="privacypolicy.html">Política de privacidade</a></li></ul>			
		</div>
	</div>
	<% include footer.ejs %>
</body>