<!DOCTYPE HTML>
<html lang="<%=locale%>">
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('About')%></title>
</head>
<body>
	<% include navbar.ejs %>
	<script>
		document.getElementById('about').className += " active";
	</script>
	<div class="container" style='width:100%;'>	
    <div class="jumbotron content content_margin">
		<p>
		Здравствуйте и спасибо за проявленный интерес к данному сайту.
		
		<h3>Предложения</h3>
		<p>
		Я всегда открыт для предложений, критики, стёба или похвалы. В контактной информации вы найдете множество способов, чтобы связаться со мной.
		
		<h3>Помощь</h3>
		<p>
		Если вы хотите помочь в некотором роде, не стесняйтесь, напишите мне. Я особенно ищу кого-то, кто мог бы перевести данный ресурс на русский язык, так как большая часть WOT/WOWS игроков говорит на русском языке. Также имеются проблемы с поиском/созданием некоторых карт высокого качества для WOWS.		
		
		<h3>Исходный код</h3>
		<p>
		Я просто хочу, привлечь как можно больше людей к проекту, насколько это возможно, поэтому я решил сделать его с открытым исходным кодом под лицензией MIT, которая позволяет использовать его (исходный код) в любых случаях по своему усмотрению, включая, но не ограничиваясь ими в ваших собственных коммерческих или некоммерческих проектах.
		
		Исходный код доступен на 
		<a href='https://github.com/karellodewijk/wottactics'>https://github.com/karellodewijk/wottactics</a>
			
		<h3>Контактная информация:</h3>
		
		<p>
		
		<div class="row">
			<div class="col-md-2">Имя</div>
			<div class="col-md-2">Kalith</div>
		</div>
		<div class="row">
			<div class="col-md-2">e-mail</div>
			<div class="col-md-2"><a href="mailto:pkalith@gmail.com">pkalith@gmail.com</a></div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-md-2">EU профиль</div>
			<div class="col-md-10"><a href='http://worldoftanks.eu/community/accounts/505943778-Kalith/'>http://worldoftanks.eu/community/accounts/505943778-Kalith/</a></div>
		</div>
		<div class="row">
			<div class="col-md-2">NA профиль</div>
			<div class="col-md-10"><a href='http://worldoftanks.com/community/accounts/1003817145-Kalid/'>http://worldoftanks.com/community/accounts/1003817145-Kalid/</a></div>
		</div>
		&nbsp;
		<div class="row">
			<div class="col-md-2">Топик на EU форуме</div>
			<div class="col-md-10"><a href='http://forum.worldoftanks.eu/index.php?/topic/517375-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.eu/index.php?/topic/517375-wot-tactic-planner-wottactictk/</a></div>
		</div>
		<div class="row">
			<div class="col-md-2">Топик на RU форуме</div>
			<div class="col-md-10"><a href='http://forum.worldoftanks.ru/index.php?/topic/1744734-ruwottacticeu/'>http://forum.worldoftanks.ru/index.php?/topic/1744734-ruwottacticeu/</a></div>
		</div>	
		<div class="row">
			<div class="col-md-2">Топик на NA форуме</div>
			<div class="col-md-10"><a href='http://forum.worldoftanks.com/index.php?/topic/456773-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.com/index.php?/topic/456773-wot-tactic-planner-wottactictk/</a></div>
		</div>		

		<div class="row">
			<div class="col-md-2">Топик на SEA форуме</div>
			<div class="col-md-10"><a href='http://forum.worldoftanks.asia/index.php?/topic/63198-wot-tactic-planner-wottactictk/'>http://forum.worldoftanks.asia/index.php?/topic/63198-wot-tactic-planner-wottactictk/</a></div>
		</div>						
		
		&nbsp;
		<div class="row">
			<div class="col-md-2">Топик на EU Wot blitz форуме</div>
			<div class="col-md-10"><a href='http://forum.wotblitz.eu/index.php?/topic/16048-tactic-planner-website/'>http://forum.wotblitz.eu/index.php?/topic/16048-tactic-planner-website/</a></div>
		</div>	
		<div class="row">
			<div class="col-md-2">Топик на NA Wot blitz форуме</div>
			<div class="col-md-10"><a href='http://forum.wotblitz.com/index.php?/topic/35189-tactic-planner-website-wottactictkblitzhtml/'>http://forum.wotblitz.com/index.php?/topic/35189-tactic-planner-website-wottactictkblitzhtml/</a></div>
		</div>	
		&nbsp;
		<div class="row">
			<div class="col-md-2">Топик на AW форуме</div>
			<div class="col-md-10"><a href='http://aw.my.com/en/forum/showthread.php?26923-Armored-warfare-tactic-planning-website-%28awtactic-tk%29'>http://aw.my.com/en/forum/showthread.php?26923-Armored-warfare-tactic-planning-website-%28awtactic-tk%29</a></div>
		</div>	
			
		<p><p>
		<h3>Особая благодарность:</h3>
		<p>
		<ul>
		<li>Большое спасибо locastan и ShuraBB за их HD миникарты</li>
		<li>Jingles, за распространение.</li>
		<li>GPS4ever и maroar, за множество тестов и предложений.</li> 		
		<li><a href='http://maptactic.com'>maptactic</a> и <a href='https://www.pyratron.com/stratsketch'>stratsketch</a> за вдохновение</li> 
		<li><a href='http://aw-guide.com'>aw-guide</a> и <a href='https://www.pyratron.com/stratsketch'>stratsketch</a> за предоставленные карты для Armored Warfare</li>
		<li>Reluctanttheist за предоставленные карты для WOT Blitz.</li>
		<li>Aleksandar(Ultra_Seljacina) за перевод на Сербский язык.
		<li>Daniel Janssen(DeeJayBass) за перевод на Немецкий язык.
		<li>Adriel Vargas(adrieeel) за перевод на Испанский язык.
		<li>toxohut за перевод на Польский язык и отличную обратную связь.
		<li>Olaf Darkpassenger за перевод на Чешский язык.
		<li>Etna99_ за перевод на Финский язык.
		<li>bpuJIJIuaHT за перевод на Русский язык.
		</ul>

		<h3>Пожертвования, в произвольном порядке</h3>
		<p>
		<ul>
		<li>Boris Fekar (FPC clan)
		</ul>
		
		<h3>Правовой аспект</h3>
		<p>
		<ul><li><a href="privacypolicy.html">Privacy policy</a></li></ul>
		
		</div>
	</div>
	<% include footer.ejs %>
</body>
