<button id="aw_spg" class="tank_select" data-toggle="tooltip" title="Artillery">
	<img src="http://karellodewijk.github.io/icons/aw_spg.png"><span>0</span>
</button>
<button id="aw_mbt" class="tank_select" data-toggle="tooltip" title="Main battle tank">
	<img src="http://karellodewijk.github.io/icons/aw_mbt.png"><span>0</span>
</button>
<button id="aw_lt" class="tank_select" data-toggle="tooltip" title="Light tank">
	<img src="http://karellodewijk.github.io/icons/aw_lt.png"><span>0</span>
</button>
<br>
<button id="aw_afv" class="tank_select" data-toggle="tooltip" title="Armored fighting vehicle">
	<img src="http://karellodewijk.github.io/icons/aw_afv.png"><span>0</span>
</button>
<button id="aw_td" class="tank_select" data-toggle="tooltip" title="Tank destroyer">
	<img src="http://karellodewijk.github.io/icons/aw_td.png"><span>0</span>
</button>