<option value="http://karellodewijk.github.io/maps/aw/mini_coldstrike.jpg">Coldstrike</option>
<option value="http://karellodewijk.github.io/maps/aw/mini_ghostfield.jpg">Ghostfield</option>
<option value="http://karellodewijk.github.io/maps/aw/mini_portstorm.jpg">Portstorm</option>
<option value="http://karellodewijk.github.io/maps/aw/mini_riverpoint.jpg">Riverpoint</option>
<option value="http://karellodewijk.github.io/maps/aw/mini_roughneck.jpg">Roughneck</option>
<option value="http://karellodewijk.github.io/maps/aw/minimap_narrows.jpg">Narrows</option>
<option value="http://karellodewijk.github.io/maps/aw/minimap_pipelines.jpg">Pipelines</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_cavalry.jpg">Operation Cavalry</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_coastal_threath.jpg">Operation Coastal Threath</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_direwolf.jpg">Operation Direwolf</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_ghotshunt.jpg">Operation Ghosthunt</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_phalanx.jpg">Operation Phalanx</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_quarterback.jpg">Operation Quarterback</option>
<option value="maps/aw/operation_ricochet.jpg">Operation Ricochet</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_scorpio.jpg">Operation Scorpio</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_snakebite.jpg">Operation Snakebite</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_spearhead.jpg">Operation Spearhead</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_tsunami.jpg">Operation Tsunami</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_umbrella.jpg">Operation Umbrella</option>
<option value="http://karellodewijk.github.io/maps/aw/operation_wildfire.jpg">Operation Wildfire</option>					
</select>