<button id="heavy" class="tank_select" data-toggle="tooltip" title="heavy">
	<img src="http://karellodewijk.github.io/icons/heavy.png" alt="heavy icon"><span>0</span>
</button>
<button id="light" class="tank_select" data-toggle="tooltip" title="light">
	<img src="http://karellodewijk.github.io/icons/light.png" alt="light icon"><span>0</span>
</button>
<br>
<button id="medium" class="tank_select" data-toggle="tooltip" title="medium">
	<img src="http://karellodewijk.github.io/icons/medium.png" alt="medium icon"><span>0</span>
</button>
<button id="td" class="tank_select" data-toggle="tooltip" title="td">
	<img src="http://karellodewijk.github.io/icons/td.png" alt="td icon"><span>0</span>
</button>

<p>
<div class="row">
	<button class="icon_group" id="extra_icons"><%=l('Extra icons')%><span class="caret"></span></button>
	<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
		battle.png
		danger.png
		defend.png
		explosion1.png
		explosion2.png
		focus.png
		spot.png
		warning.png
		finish.png
		map_marker.png
	</div>
	<div id="extra_icons_menu" style="max-height:200px; width:250px; overflow-y: auto" ></div>				
</div>