<option value=""> </option>
<option value="/maps/clans/clash_blank_square.jpg"><%=l('Blank map (square)')%></option>
<option value="/maps/clans/clash_blank_iso.jpg"><%=l('Blank map (perspective)')%></option>


