<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<title><%=l('Clanportal')%><%if (clan) {%> - <%=clan.name;%><%}%> - <%=l('attend')%></title>
	<meta name="description" content="A world of tanks clan portal - attendance link">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
		<% include clanportal_navbar.ejs %>
		<div class="container" id="big_button_frame" style="text-align:center">
			<%if (!user.clan_id) {%>
				You are not in a clan or you are not logged on properly, try logging in again with your WG id.
			<%} else {%>
			    <% if (!reason) { %>
				    Your attendance has been recorder succesfully.
				<% } else { %>
					<%=reason%>
				<% } %>
			<%}%>
		</div>
	</div>
</div>
	
	<% include footer.ejs %>
	
	</div>
</body>

