<li class="dropdown">
	<% if (!user.identity) { %>
		<button class="btn btn-warning navbar-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" id="login_dropdown">
			<span id="sign_in_text"><%=l('Sign in')%></span> <span class="caret"></span>
		</button>
	<% } else { %>
		<button class="btn btn-success navbar-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" id="login_dropdown">
			<span id="sign_in_text"><%=l('Hi,')%> <%=user.name%></span> <span class="caret"></span>
		</button>
	<% }%>
	<ul class="dropdown-menu" id="login_dropdown_select" aria-labelledby="login_dropdown">
		<li><a href="javascript:void(0)"><img src='http://google.com/favicon.ico' width="16" height="16" alt='google logo' /> Google</a></li>
		<li><a id="https://www.facebook.com/dialog/oauth" href="javascript:void(0)"><img src='http://facebook.com/favicon.ico' width="16" height="16" alt='facebook logo' /> Facebook</a></li>
		<li><a id="https://api.twitter.com/oauth/authorize" href="javascript:void(0)"><img src='http://twitter.com/favicon.ico' width="16" height="16" alt='twitter logo' /> Twitter</a></li>
		<!--<li><a id="http://steamcommunity.com/openid" href="javascript:void(0)"><img src='http://steampowered.com/favicon.ico' width="16" height="16" alt='steam logo' /> Steam</a></li>-->
		<li><a id="http://eu.wargaming.net/id/" href="javascript:void(0)"><img src='http://karellodewijk.github.io/icons/wargaming.png' alt='wg logo' /> Wargaming EU</a></li>
		<li><a id="http://ru.wargaming.net/id/" href="javascript:void(0)"><img src='http://karellodewijk.github.io/icons/wargaming.png' alt='wg logo' /> Wargaming RU</a></li>
		<li><a id="http://asia.wargaming.net/id/" href="javascript:void(0)"><img src='http://karellodewijk.github.io/icons/wargaming.png' alt='wg logo' /> Wargaming SEA</a></li>
		<li><a id="http://na.wargaming.net/id/" href="javascript:void(0)"><img src='http://karellodewijk.github.io/icons/wargaming.png' alt='wg logo' /> Wargaming NA</a></li>
		<li><a id="http://kr.wargaming.net/id/" href="javascript:void(0)"><img src='http://karellodewijk.github.io/icons/wargaming.png' alt='wg logo' /> Wargaming KOR</a></li>
	</ul>
</li>