<nav class="navbar navbar-default container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" 
			<% if (game == 'wot') { %>
				href="/wot.html">WOT Tactics
			<% } else if (game == 'wows') { %>
				href="/wows.html">WOWS Tactics
			<% } else if (game == 'blitz') { %>
				href="/blitz.html">Blitz Tactics
			<% } else if (game == 'aw') { %>
				href="/aw.html">AW Tactics
			<% } %>
		</a>
	</div>
	<ul class="nav navbar-nav navbar-left container-fluid">
		<li><a href="stored_tactics.html" class="">Stored tactics</a></li>
		<li><a href="getting_started.html" class="">Getting started</a></li>
		<li><a href="about.html" class="">About</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right container-fluid">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			  Other Games<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="http://www.wottactic.tk">World of Tanks</a></li>
				<li><a href="http://www.wowstactics.tk">World of Warships</a></li>
				<li><a href="http://www.wottactic.tk/blitz.html">World of Tanks Blitz</a></li>
				<li><a href="http://www.awtactics.tk">Armored Warfare</a></li>
			</ul>
		</li>
		<% include login_button.ejs %>
	</ul>
<div id="result"></div>
</nav>

