<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
	<script src="/javascripts/bootstrap-select.min.js"></script>
	<script src="/javascripts/jquery.simplecolorpicker.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.simplecolorpicker.css">
	<script type="text/javascript" src="/javascripts/pixi.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap-slider.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap-slider.min.css" />
	<script type="text/javascript" src="http://cdn.socket.io/socket.io-1.3.6.js"></script>
	<script type="text/javascript" src="/javascripts/TransparencyHitArea.js"></script>
	<script type="text/javascript" src="/javascripts/planner.js"></script>
</head>
<body>

	<div class="edit_window"></div>
	
	<div class="side_bar jumbotron">
<nav class="navbar navbar-default container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" style="padding-left:0px"
			<% if (game == 'wot') { %>
				href="/wot.html">WOT Tactics
			<% } else if (game == 'wows') { %>
				href="/wows.html">WOWS Tactics
			<% } else if (game == 'blitz') { %>
				href="/blitz.html">Blitz Tactics
			<% } else if (game == 'aw') { %>
				href="/aw.html">AW Tactics
			<% } %>
		</a>
	</div>
	<ul class="nav navbar-nav navbar-left container-fluid btn-group">
		<%if (game != 'blitz') { %>	
			<li><button id="save" href="javascript:void(0)" class="btn btn-default navbar-btn" data-placement="bottom" data-toggle="tooltip" title="Save">
				<img src="http://karellodewijk.github.io/icons/save.png">
			</button></li>
			<li><button id="save_as" href="javascript:void(0)" class="btn btn-default navbar-btn" data-placement="bottom"
			data-toggle="popover" data-content="<input type='text' id='tactic_name' style='width:100px' /> <button id='store_tactic' class='btn btn-default navbar-btn btn-xs'>Store</button>">
				<img data-toggle="tooltip" title="Save as" src="http://karellodewijk.github.io/icons/save_as.png">
			</button></li>

			<li><button id="lock" class="btn btn-default navbar-btn" data-toggle="tooltip" title="Locks/unlocks edit mode for users without additional permissions">
				<img src="http://karellodewijk.github.io/icons/lock.png">
			</button></li>
			<li><button id="export" class="btn btn-default navbar-btn" data-toggle="tooltip" title="Save tactic as image">
				<img src="http://karellodewijk.github.io/icons/export.png">
			</button></li>
			<li><button id="link" class="btn btn-default navbar-btn" data-toggle="tooltip" title="Copy link to clipboard, send it to friends or clan mates to invite them to this tactic">
				<img src="http://karellodewijk.github.io/icons/link.png">
			</button></li>
		<% } %>	
	</ul>
	<ul class="nav navbar-nav navbar-right container-fluid">
		<% include login_button.ejs %>
	</ul>
</nav>

		<div class="top">
			<div class="left_column">	
				<h4>Map</h4>
				<p>
					<div class="dropdown">
						<select class="selectpicker" id="map_select">
						<option value=""></option>
						<%if (game == 'wot') { %>	
							<%include wot_maps.ejs %>	
						<%} else if (game == 'wows') { %>	
							<%include wows_maps.ejs%>	
						<%} else if (game == 'blitz') { %>	
							<%include blitz_maps.ejs %>	
						<%} else if (game == 'aw') { %>	
							<%include aw_maps.ejs %>	
						<%} %>	
						</select>
					</div>

				<hr>

				<h4>Tools</h4>
				<p>
					<div id="contexts">
					<div class="btn-group">
					<button type="button" class="btn btn-default" aria-label="Left Align" id="ping" data-toggle="tooltip" title="Ping map">
						<img src="http://karellodewijk.github.io/icons/circle_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="icon" data-toggle="tooltip" title="Add icon (click map)">
						<img src="http://karellodewijk.github.io/icons/
							<%if (game == 'wows') { %>
								ship_icon.png
							<%} else if (game == 'aw') { %>
								aw_icon.png
							<%} else { %>
								tank_icon.png
							<%} %>
						"/>
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="draw" data-toggle="tooltip" title="Free draw">
						<img src="http://karellodewijk.github.io/icons/pencil.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="text" data-toggle="tooltip" title="Add Text">
						<img src="http://karellodewijk.github.io/icons/text_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="line" data-toggle="tooltip" title="Draw line (hold left mouse)">
						<img src="http://karellodewijk.github.io/icons/line_icon.png" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default" aria-label="Left Align" id="curve" data-toggle="tooltip" title="Draw curve (double click to end)">
						<img src="http://karellodewijk.github.io/icons/curve.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="rectangle" data-toggle="tooltip" title="Draw rectangle">
						<img src="http://karellodewijk.github.io/icons/rectangle.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="circle" data-toggle="tooltip" title="Draw circle">
						<img src="http://karellodewijk.github.io/icons/draw_circle_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="polygon" data-toggle="tooltip" title="Draw polygon">
						<img src="http://karellodewijk.github.io/icons/polygon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="area" data-toggle="tooltip" title="Draw area">
						<img src="http://karellodewijk.github.io/icons/area.png" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default" aria-label="Left Align" id="remove" data-toggle="tooltip" title="Delete (click map)/Delete menu">
						<img src="http://karellodewijk.github.io/icons/bin.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="track" data-toggle="tooltip" title="Track cursor">
						<img src="http://karellodewijk.github.io/icons/recticle_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="select" data-toggle="tooltip" title="Select items on the map">
						<img src="http://karellodewijk.github.io/icons/select.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="undo" data-toggle="tooltip" title="Undo last action">
						<img src="http://karellodewijk.github.io/icons/undo.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="redo" data-toggle="tooltip" title="Redo last action">
						<img src="http://karellodewijk.github.io/icons/redo.png" />
					</button>
					</div>
					</div>
				<hr>
				
				<div id='icon_context'>
						
				<h4>Icon options (<span id="icon_counter">0</span>)</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				
					<p>	
					<small>Label:</small> <input type="text" id="icon_label"/>
					<p>				
						<%if (game == 'wot') { %>
							<%include wot_icons.ejs%>
						<%} else if (game == 'wows') { %>
							<%include wows_icons.ejs%>
						<%} else if (game == 'blitz') { %>
							<%include blitz_icons.ejs%>
						<%} else if (game == 'aw') { %>
							<%include aw_icons.ejs%>
						<%} %>					
					<p>
					<select name="colorpicker" id="icon_colorpicker">
						<%if (game == 'aw') { %>
						<option value="#70c5ea">Cyan</option>
						<% } %>
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
					</select>

					<div class="row">
						<div class="col-sm-4">
							<small>Label size</small>
						</div>
						<div class="col-sm-5">
							<input id="label_font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="3" data-slider-max="99" data-slider-step="1" data-slider-value=<%if (game == 'blitz') { %>"15"<%} else {%>"10"<%}%>/>
						</div>
						<div class="col-sm-3">
							&nbsp;<input id="label_font_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<small>Icon size</small>
						</div>
						<div class="col-sm-5">
							<input id="icon_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="50" data-slider-step="1" data-slider-value=<%if (game == 'blitz') { %>"35"<%} else {%>"20"<%}%>/>
						</div>
						<div class="col-sm-3">
							&nbsp;<input id="icon_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='draw_context'>			
				
				<h4>Draw options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="draw_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
					</select>
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>
						<div class="col-sm-5">
							<input id="draw_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>
						<div class="col-sm-3">
							<input id="draw_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>			
				</div>
				</div>

				<div id='curve_context'>			
				
				<h4>Curve options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="curve_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
					</select>
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>
						<div class="col-sm-5">
							<input id="curve_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>
						<div class="col-sm-3">
							<input id="curve_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>				
				</div>
				</div>
				
				<div id='rectangle_context'>			
				
				<h4>Rectangle options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5>Outline:</h5>
					<select name="colorpicker" id="rectangle_outline_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>	
						<div class="col-sm-5">
							<input id="rectangle_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="rectangle_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>	
						<div class="col-sm-5">
							<input id="rectangle_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="rectangle_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5>Fill:</h5>	
					<select name="colorpicker" id="rectangle_fill_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>
						<div class="col-sm-5">
							<input id="rectangle_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="rectangle_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='circle_context'>			
				
				<h4>Circle options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5>Outline:</h5>
					<select name="colorpicker" id="circle_outline_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>	
						<div class="col-sm-5">
							<input id="circle_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="circle_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>	
						<div class="col-sm-5">
							<input id="circle_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="circle_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5>Fill:</h5>		
					<select name="colorpicker" id="circle_fill_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>
						<div class="col-sm-5">
							<input id="circle_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="circle_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='polygon_context'>			
				
				<h4>Polygon options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5>Outline:</h5>
					<select name="colorpicker" id="polygon_outline_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>	
						<div class="col-sm-5">
							<input id="polygon_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="polygon_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>	
						<div class="col-sm-5">
							<input id="polygon_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="polygon_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5>Fill:</h5>		
					<select name="colorpicker" id="polygon_fill_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>
						<div class="col-sm-5">
							<input id="polygon_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="polygon_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='area_context'>			
				
				<h4>Area options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5>Outline:</h5>
					<select name="colorpicker" id="area_outline_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>	
						<div class="col-sm-5">
							<input id="area_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3">
							<input id="area_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>	
						<div class="col-sm-5">
							<input id="area_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="area_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5>Fill:</h5>		
					<select name="colorpicker" id="area_fill_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
						<option value="#000000">Black</option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small>Opacity</small>
						</div>
						<div class="col-sm-5">
							<input id="area_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="area_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>
				
				<div id='ping_context'>			
				
				<h4>Ping options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="ping_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
					</select>
				
				</div>
				</div>

				<div id='track_context'>

				<h4>Track options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">				
				<p>
					<select name="colorpicker" id="track_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
					</select>
				
				</div>
				</div>		
				
				<div id='remove_context'>			

				<h4>Remove options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_all" data-toggle="tooltip" title="Clear all">
							<img src="http://karellodewijk.github.io/icons/clear.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_draw" data-toggle="tooltip" title="Clear all free draw">
							<img src="http://karellodewijk.github.io/icons/clear_draw.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_icons" data-toggle="tooltip" title="clear all icons">
							<img src="http://karellodewijk.github.io/icons/clear_icon.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_lines" data-toggle="tooltip" title="Clear all lines and arrow">
							<img src="http://karellodewijk.github.io/icons/clear_line.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_text" data-toggle="tooltip" title="Clear all text">
							<img src="http://karellodewijk.github.io/icons/clear_text.png" />
						</button>
					</div>
					<br />
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_selected" data-toggle="tooltip" title="Clear all selected items">
							<img src="http://karellodewijk.github.io/icons/clear_selected.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_curve" data-toggle="tooltip" title="Clear all curved line">
							<img src="http://karellodewijk.github.io/icons/clear_curve.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_rectangle" data-toggle="tooltip" title="Clear all rectangles">
							<img src="http://karellodewijk.github.io/icons/clear_rectangle.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_circle" data-toggle="tooltip" title="Clear all circles">
							<img src="http://karellodewijk.github.io/icons/clear_circle.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_polygon" data-toggle="tooltip" title="Clear all polygons">
							<img src="http://karellodewijk.github.io/icons/clear_polygon.png" />
						</button>
					</div>
					<br />
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_area" data-toggle="tooltip" title="Clear all areas">
							<img src="http://karellodewijk.github.io/icons/clear_area.png" />
						</button>
						
					</div>
				
				</div>
				</div>

				<div id='text_context'>

				<h4>Text options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>	
				<small>Text:</small> <input type="text" id="text_tool_text"/>
					<p>
					<select name="colorpicker" id="text_colorpicker">
						<option value="#ffffff">White</option>
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#000000">Black</option>
					</select>
					
					<br />
					<div class="row">
						<div class="col-sm-3">
							<small>Size</small>
						</div>
						<div class="col-sm-5">
							<input id="font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="99" data-slider-step="1" data-slider-value="10"/>
						</div>
						<div class="col-sm-3">
							<input id="font_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='line_context'>	
								
				<h4>Line options</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="line_colorpicker">
						<option value="#ff0000">Red</option>
						<option value="#00ff00">Green</option>
						<option value="#0000ff">Blue</option>
						<option value="#ffff00">Yellow</option>
						<option value="#ffffff">White</option>
					</select>
					<br/>
					<div class="row">
						<div class="col-sm-3">
							<small>Thickness</small>
						</div>
						<div class="col-sm-5">
							<input id="line_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>
						<div class="col-sm-3">
							<input id="line_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					<div class="btn-group" role="group" id="line_type">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="full_line">
							<img src="http://karellodewijk.github.io/icons/line_icon.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="dotted_line">
							<img src="http://karellodewijk.github.io/icons/dotted_line.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="arrow">
							<img src="http://karellodewijk.github.io/icons/arrow.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="dotted_arrow">
							<img src="http://karellodewijk.github.io/icons/dotted_arrow.png" />
						</button>
					</div>
				</div>
				</div>

				<%if (game == 'blitz') { %>	
				<h4>Extra</h4>
				<p>
				
				<div class="btn-group" role="group">
				<a id="save" href="javascript:void(0)" class="btn btn-default" data-placement="bottom" data-toggle="tooltip" title="Save">
					<img src="http://karellodewijk.github.io/icons/save.png">
				</a>
				<a id="save_as" href="javascript:void(0)" class="btn btn-default" data-placement="bottom"
				data-toggle="popover" data-content="<input type='text' id='tactic_name' style='width:100px' /> <button id='store_tactic' class='btn btn-default btn-xs'>Store</button>">
					<img data-toggle="tooltip" title="Save as" src="http://karellodewijk.github.io/icons/save_as.png">
				</a>

				<button id="lock" class="btn btn-default" data-toggle="tooltip" title="Locks/unlocks edit mode for users without additional permissions">
					<img src="http://karellodewijk.github.io/icons/lock.png">
				</button>
				<button id="export" class="btn btn-default" data-toggle="tooltip" title="Save tactic as image">
					<img src="http://karellodewijk.github.io/icons/export.png">
				</button>
				<button id="link" class="btn btn-default" data-toggle="tooltip" title="Copy link to clipboard, send it to friends or clan mates to invite them to this tactic">
					<img src="http://karellodewijk.github.io/icons/link.png">
				</button>
				</div>
				<% } %>	
				
			</div>
			<%if (game != 'blitz') { %>	
			<div class="right_column">
				<h4>User list (<span id="user_count"></span>)</h4>
				<p>
				<div class="btn-group-vertical btn-group-xs" role="group" id="userlist"></div>
			</div>
			<% } %>	
		</div>
		<%if (game != 'blitz') { %>	
		<div class="bottom">
			<textarea readonly id="chat_box" rows="10" cols="60"></textarea>
			<br />
			<input id="chat_input" class="slider_text_input" type="text"/>
		</div>
		<% } %>	
	</div>

<%if (game == 'blitz') { %>	
	<div class="side_bar jumbotron">
		<div class="bottom">
			<textarea readonly id="chat_box" rows="10" cols="60"></textarea>
			<br />
			<input id="chat_input" class="slider_text_input" type="text"/>
		</div>
	</div>
	<div class="side_bar jumbotron">
		<div class="right_column">
			<h4>User list (<span id="user_count"></span>)</h4>
			<p>
			<div class="btn-group-vertical btn-group-xs" role="group" id="userlist"></div>
		</div>
	</div>
<% } %>	
	
	
</body>