<nav class="navbar navbar-default navbar-inverse main_navbar navbar-custom" style="border-radius: 0; margin-top:-20px; font-size:120%; background-color: #2e2e2e;">
	<ul id="server_select" class="nav navbar-nav">
		<li><li id="player_stats"><a href="/player/"><h2><%=l('Player stats')%></h2></a></li></li>
		<li><li id="clan_stats"><a href="/clan/"><h2><%=l('Clan stats')%></h2></a></li></li>
	</ul>
</nav>