<nav class="navbar navbar-default navbar-inverse main_navbar" style="border-radius: 0; margin-top:-20px; font-size:120%; background-color: #2e2e2e;">
	<ul id="server_select" class="nav navbar-nav">
		<li><li id="player_stats"><a href="/player/"><%=l('Player stats')%></a></li></li>
		<li><li id="clan_stats"><a href="/clan/"><%=l('Clan stats')%></a></li></li>
	</ul>
</nav>