<button id="arty" class="tank_select" data-toggle="tooltip" title="arty">
	<img src="http://karellodewijk.github.io/icons/arty.png"><span>0</span>
</button>
<button id="heavy" class="tank_select" data-toggle="tooltip" title="heavy">
	<img src="http://karellodewijk.github.io/icons/heavy.png"><span>0</span>
</button>
<button id="light" class="tank_select" data-toggle="tooltip" title="light">
	<img src="http://karellodewijk.github.io/icons/light.png"><span>0</span>
</button>
<br>
<button id="medium" class="tank_select" data-toggle="tooltip" title="medium">
	<img src="http://karellodewijk.github.io/icons/medium.png"><span>0</span>
</button>
<button id="td" class="tank_select" data-toggle="tooltip" title="td">
	<img src="http://karellodewijk.github.io/icons/td.png"><span>0</span>
</button>