<button id="bb" class="tank_select" data-toggle="tooltip" title="<%=l('Battleship')%>">
	<img height="15" src="http://karellodewijk.github.io/icons/bb.png"><span>0</span>
</button>
<button id="ca" class="tank_select" data-toggle="tooltip" title="<%=l('Cruiser')%>">
	<img height="15" src="http://karellodewijk.github.io/icons/ca.png"><span>0</span>
</button>
<button id="cv" class="tank_select" data-toggle="tooltip" title="<%=l('Aircraft Carrier')%>">
	<img height="15" src="http://karellodewijk.github.io/icons/cv.png"><span>0</span>
</button>
<br>
<button id="dd" class="tank_select" data-toggle="tooltip" title="<%=l('Destroyer')%>">
	<img height="15" src="http://karellodewijk.github.io/icons/dd.png"><span>0</span>
</button>