<option value="http://karellodewijk.github.io/maps/wows/Bees_to_Honey.png">Bees to honey</option>
<option value="http://karellodewijk.github.io/maps/wows/Big_Race.png">Big Race</option>
<option value="http://karellodewijk.github.io/maps/wows/Fault_Line.jpg">Fault Line</option>
<option value="http://karellodewijk.github.io/maps/wows/Ice_Islands.jpg">Ice Islands</option>
<option value="http://karellodewijk.github.io/maps/wows/Islands.png">Islands</option>
<option value="http://karellodewijk.github.io/maps/wows/New_Dawn.png">New Dawn</option>
<option value="http://karellodewijk.github.io/maps/wows/North.png">North</option>
<option value="http://karellodewijk.github.io/maps/wows/Ocean.png">Ocean</option>
<option value="http://karellodewijk.github.io/maps/wows/Tutorial.png">Tutorial</option>
<option value="http://karellodewijk.github.io/maps/wows/Two_Brothers.jpg">Two brothers</option>
