div#preload { display: none; }

.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.075);
-}

.navbar-custom {
  background-color: #384771;
  border-color: #2d395b;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#495c93), to(#384771));
  background-image: -webkit-linear-gradient(top, #495c93, 0%, #384771, 100%);
  background-image: -moz-linear-gradient(top, #495c93 0%, #384771 100%);
  background-image: linear-gradient(to bottom, #495c93 0%, #384771 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff495c93', endColorstr='#ff384771', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #2d395b;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2d395b), to(#3e4e7d));
  background-image: -webkit-linear-gradient(top, #2d395b, 0%, #3e4e7d, 100%);
  background-image: -moz-linear-gradient(top, #2d395b 0%, #3e4e7d 100%);
  background-image: linear-gradient(to bottom, #2d395b 0%, #3e4e7d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d395b', endColorstr='#ff3e4e7d', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #2c3859;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #2d395b;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #2d395b;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > a, .nav-tabs > a:active, .nav-tabs > a:focus {
	outline:none;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.beta_button {
	 background-image: url('beta_ribbon.png') !important;
	 background-size: 60px !important;
	 background-position: right top !important;
	 background-repeat: no-repeat !important;
}

.nav h1 {
	font-size: 20px;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	display: inline;
}

.nav h2 {
	font-size: 16.8px;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	display: inline;
}

.dir_btn {
    background-color: #cccccc;
}

#label_pos .active {
    background: #888888;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#main_navbar .nav > li > a {
	   line-height: 50px !important;
	}
	#home {
		padding-left:10px;
	}
	#login_button_li {
		line-height:px;
		padding-left:15px;
	}
	#login_button_li > button {
	    margin-bottom: 0px !important;
	    margin-top: 0px !important;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#main_navbar .nav > li > a {
	   line-height: 50px !important;
	}
	#home {
		padding-left:10px;
	}
	#login_button_li {
		line-height:50px;
		padding-left:15px;
	}
	#login_button_li > button {
	    margin-bottom: 0px !important;
	    margin-top: 0px !important;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	#main_navbar .nav > li > a {
	   line-height: 50px !important;
	}
	#home {
		padding-left:10px;
	}
	#login_button_li {
		line-height:50px;
		padding-left:15px;
	}
	#login_button_li > button {
	    margin-bottom: 0px !important;
	    margin-top: 0px !important;
	}
}

#main_navbar .nav > li > a {
   line-height: 110px;
   padding-bottom: 0;
   padding-top: 0;
}

#main_navbar .nav > li > button {
   margin-bottom: 38px;
   margin-top: 38px;
}

.jumbotron, .jumbotron p, .jumbotron ol, .jumbotron ul {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7;
	font-weight:400;
}

.jumbotron h2, .jumbotron h3, .jumbotron h4 {
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
	color: #444444;
}

.content {
	padding: 0px; 
	margin:  0px;
	width:   100%;
	background: #F0F0F0;
	display:inline-block;
	vertical-align:top;
	border: 1px solid black;
	min-height: calc(100vh - 148px);
}

html, body {position: absolute; min-width:100%; min-height: 100%; padding: 0px; margin:  0px;}

#footer {
	position: absolute;
    bottom:0;
    height: 50px;
	width: 100%;
	border: 0;
	margin: 0;
	border-radius: 0;
}

.content_margin {
	padding:20px !important;
}

.call_to_action h1 { 
	text-shadow: 1px 1px 1px #ccc;
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
}

.navbar {
	font-weight: 700;
	font-family: 'Roboto Slab', serif;
}

.navbar .nav > li.active > alinear-gradient(280deg, rgb(48, 53, 59), rgb(67, 73, 79))

.popover-title{
    color: black;
}
	
#quote {
	color:white;
}

body {
	background: #DDDDDD;
}

.call_to_action {
	color:#ffffff;
}

nav a, nav a:active, nav a:focus {
	outline:none;
}

.navbar_planner {
    margin-bottom: 0px;
}

#big_button_frame {
	text-align:center;
}

button {
	text-align: left;
}

.popover-medium {
	padding:0px !important; 
}

.select_tactic_button {
	min-height:37px;
}

.edit_window {
	display:inline-block;
}

.side_bar {
	padding-top: 0px;
	background: #F0F0F0;
	display:inline-block;
	vertical-align:top;
	border: 1px solid black;
}

.left_column {
	display: inline-block;
	vertical-align:top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
}

.right_column {
	min-width: 250px;
	display:inline-block;
	vertical-align:top;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 20px;
}

.bottom {
	min-width: 600px;
	display:inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.tank_select {
	border: 2px solid transparent;
	padding: 2px;
	outline: 0;
	background-color: transparent;
}

.slide_btn {
	min-height:42px;
}

.tank_select:hover {
	border: 2px solid red;
}

.tank_select.selected {
	border: 2px solid red;
}

h5 {
	font-size:16px;
}

h4 {
	padding-top:0px;
	padding-bottom:0px;
	font-size:15px;
}

#ex1Slider .slider-selection {
	background: #EBEBEB;
}

#ex1Slider .slider-track-high {
	background: #EAEAEA;
}

#ex1Slider {
	width:100px;
}

#icon_label {
	width:180px;
}

.slider_text_input {
	width: 40px;
	height: 25px;
}

small {
	font-size: 14px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.popover {
    min-width: 200px;
    max-width: 10000px;
}

.popover.right .arrow {
  top: 20px !important;
}

.fake_textarea {
	background: #FFFFFF;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
	text-align: left;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
	height: 150px;
	position: float;
}

.chatmsg {
	max-width: 100%;
}

.dir_btn {
	min-height: 30px;
	min-width: 30px;
	margin: 1px;
}

/* Tab Content */
.tab-pane {
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.tactic_entry {
	font-family:arial;
	background-color: #FFFFFF;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}

.stored_tactics_table tr {
	height: 37px;
}

.stored_tactics_table td {
	border: 1px solid #AAAAAA;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot');
    src:    url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.divider-vertical {
	height: 50px;
	width:50px;
	margin: auto;
	border-left: 0px solid black;
	border-right: 0px solid white;
	text-align:center;
}

.icon-trash:before {
    content: "\e906";
}
.icon-patreon:before {
    content: "\e905";
}
.icon-home:before {
    content: "\e904";
}
.icon-paypal:before {
    content: "\e900";
}
.icon-google-plus:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}

div.inline { display: inline-block; vertical-align: middle; }

/*CSS srites, auto generated with sprity*/

.sheen {
  position: relative;
  overflow: hidden;
}

.sheen:after {
  animation: sheen 1s 0s forwards;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
  transform: rotateZ(60deg) translate(-1em, 4em);
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}


.ui-sortable tr {     
	cursor:pointer; 
}

.ui-sortable tr:hover {     
	background:rgba(244,251,17,0.45) !important; 
}


.icon {
  background-image: url('sprite.png');
}

.icon-minus {
  background-position: -0px -0px;
  width: 16px;
  height: 16px;
}
.icon-wows_sm {
  background-position: -0px -16px;
  width: 16px;
  height: 16px;
}
.icon-R6_sm {
  background-position: -0px -32px;
  width: 16px;
  height: 16px;
}
.icon-aw_sm {
  background-position: -0px -48px;
  width: 16px;
  height: 16px;
}
.icon-battlenet {
  background-position: -0px -64px;
  width: 16px;
  height: 16px;
}
.icon-bin_small {
  background-position: -0px -80px;
  width: 16px;
  height: 16px;
}
.icon-blitz_sm {
  background-position: -0px -96px;
  width: 16px;
  height: 16px;
}
.icon-clans_sm {
  background-position: -0px -112px;
  width: 16px;
  height: 16px;
}
.icon-csgo_sm {
  background-position: -0px -128px;
  width: 16px;
  height: 16px;
}
.icon-facebook {
  background-position: -0px -144px;
  width: 16px;
  height: 16px;
}
.icon-foxhole_sm {
  background-position: -0px -160px;
  width: 16px;
  height: 16px;
}
.icon-wot_sm {
  background-position: -0px -176px;
  width: 16px;
  height: 16px;
}
.icon-google {
  background-position: -0px -192px;
  width: 16px;
  height: 16px;
}
.icon-hots_sm {
  background-position: -0px -208px;
  width: 16px;
  height: 16px;
}
.icon-wargaming {
  background-position: -0px -224px;
  width: 16px;
  height: 16px;
}
.icon-EC_sm {
  background-position: -0px -240px;
  width: 16px;
  height: 16px;
}
.icon-logout {
  background-position: -0px -256px;
  width: 16px;
  height: 16px;
}
.icon-lol_sm {
  background-position: -0px -272px;
  width: 16px;
  height: 16px;
}
.icon-MWO_sm {
  background-position: -0px -288px;
  width: 16px;
  height: 16px;
}
.icon-plus {
  background-position: -0px -304px;
  width: 16px;
  height: 16px;
}
.icon-pr_sm {
  background-position: -0px -320px;
  width: 16px;
  height: 16px;
}
.icon-propilkki2_sm {
  background-position: -0px -336px;
  width: 16px;
  height: 16px;
}
.icon-pubg_sm {
  background-position: -0px -352px;
  width: 16px;
  height: 16px;
}
.icon-sc2_sm {
  background-position: -0px -368px;
  width: 16px;
  height: 16px;
}
.icon-warface_sm {
  background-position: -0px -384px;
  width: 16px;
  height: 16px;
}
.icon-vk {
  background-position: -0px -400px;
  width: 16px;
  height: 16px;
}
.icon-squad_sm {
  background-position: -0px -416px;
  width: 16px;
  height: 16px;
}
.icon-steam {
  background-position: -0px -432px;
  width: 16px;
  height: 16px;
}
.icon-steelocean_sm {
  background-position: -0px -448px;
  width: 16px;
  height: 16px;
}
.icon-twitter {
  background-position: -0px -464px;
  width: 16px;
  height: 16px;
}
.icon-upload_sm {
  background-position: -0px -480px;
  width: 18px;
  height: 18px;
}
.icon-share {
  background-position: -0px -498px;
  width: 18px;
  height: 18px;
}
.icon-send_to_link {
  background-position: -0px -516px;
  width: 18px;
  height: 18px;
}
.icon-link_sm {
  background-position: -0px -534px;
  width: 18px;
  height: 18px;
}
.icon-from_link {
  background-position: -0px -552px;
  width: 18px;
  height: 18px;
}
.icon-lock_camera {
  background-position: -0px -570px;
  width: 22px;
  height: 22px;
}
.icon-cursor_icon {
  background-position: -0px -592px;
  width: 22px;
  height: 22px;
}
.icon-curve {
  background-position: -0px -614px;
  width: 22px;
  height: 22px;
}
.icon-curve_T {
  background-position: -0px -636px;
  width: 22px;
  height: 22px;
}
.icon-curved_arrow {
  background-position: -0px -658px;
  width: 22px;
  height: 22px;
}
.icon-curved_dashed_arrow {
  background-position: -0px -680px;
  width: 22px;
  height: 22px;
}
.icon-curved_dashed_line {
  background-position: -0px -702px;
  width: 22px;
  height: 22px;
}
.icon-curved_dotted_arrow {
  background-position: -0px -724px;
  width: 22px;
  height: 22px;
}
.icon-curved_dotted_line {
  background-position: -0px -746px;
  width: 22px;
  height: 22px;
}
.icon-curved_line {
  background-position: -0px -768px;
  width: 22px;
  height: 22px;
}
.icon-cut {
  background-position: -0px -790px;
  width: 22px;
  height: 22px;
}
.icon-dashed_arrow {
  background-position: -0px -812px;
  width: 22px;
  height: 22px;
}
.icon-dashed_line {
  background-position: -0px -834px;
  width: 22px;
  height: 22px;
}
.icon-def {
  background-position: -0px -856px;
  width: 22px;
  height: 22px;
}
.icon-disable_dragging {
  background-position: -0px -878px;
  width: 22px;
  height: 22px;
}
.icon-dot_icon {
  background-position: -0px -900px;
  width: 22px;
  height: 22px;
}
.icon-dotted_arrow {
  background-position: -0px -922px;
  width: 22px;
  height: 22px;
}
.icon-dotted_line {
  background-position: -0px -944px;
  width: 22px;
  height: 22px;
}
.icon-draw_circle_icon {
  background-position: -0px -966px;
  width: 22px;
  height: 22px;
}
.icon-draw_circle_radius_icon {
  background-position: -0px -988px;
  width: 22px;
  height: 22px;
}
.icon-enable_dragging {
  background-position: -0px -1010px;
  width: 22px;
  height: 22px;
}
.icon-eraser {
  background-position: -0px -1032px;
  width: 22px;
  height: 22px;
}
.icon-export {
  background-position: -0px -1054px;
  width: 22px;
  height: 22px;
}
.icon-attac {
  background-position: -0px -1076px;
  width: 22px;
  height: 22px;
}
.icon-floppy {
  background-position: -0px -1098px;
  width: 22px;
  height: 22px;
}
.icon-folder {
  background-position: -0px -1120px;
  width: 22px;
  height: 22px;
}
.icon-foxhole_icons {
  background-position: -0px -1142px;
  width: 22px;
  height: 22px;
}
.icon-aw_icons {
  background-position: -0px -1164px;
  width: 22px;
  height: 22px;
}
.icon-EC_icons {
  background-position: -0px -1186px;
  width: 22px;
  height: 22px;
}
.icon-R6_icons {
  background-position: -0px -1208px;
  width: 22px;
  height: 22px;
}
.icon-grid_icon {
  background-position: -0px -1230px;
  width: 22px;
  height: 22px;
}
.icon-hots_icons {
  background-position: -0px -1252px;
  width: 22px;
  height: 22px;
}
.icon-bin {
  background-position: -0px -1274px;
  width: 22px;
  height: 22px;
}
.icon-line_T {
  background-position: -0px -1296px;
  width: 22px;
  height: 22px;
}
.icon-line_icon {
  background-position: -0px -1318px;
  width: 22px;
  height: 22px;
}
.icon-link {
  background-position: -0px -1340px;
  width: 22px;
  height: 22px;
}
.icon-MWO_icons {
  background-position: -0px -1362px;
  width: 22px;
  height: 22px;
}
.icon-lock {
  background-position: -0px -1384px;
  width: 22px;
  height: 22px;
}
.icon-blitz_icons {
  background-position: -0px -1406px;
  width: 22px;
  height: 22px;
}
.icon-archive_icon {
  background-position: -0px -1428px;
  width: 22px;
  height: 22px;
}
.icon-lol_icons {
  background-position: -0px -1450px;
  width: 22px;
  height: 22px;
}
.icon-bomb {
  background-position: -0px -1472px;
  width: 22px;
  height: 22px;
}
.icon-map_icon {
  background-position: -0px -1494px;
  width: 22px;
  height: 22px;
}
.icon-circle_icon {
  background-position: -0px -1516px;
  width: 22px;
  height: 22px;
}
.icon-move {
  background-position: -0px -1538px;
  width: 22px;
  height: 22px;
}
.icon-note {
  background-position: -0px -1560px;
  width: 22px;
  height: 22px;
}
.icon-paste {
  background-position: -0px -1582px;
  width: 22px;
  height: 22px;
}
.icon-patreon {
  background-position: -0px -1604px;
  width: 22px;
  height: 22px;
}
.icon-paypal {
  background-position: -0px -1626px;
  width: 22px;
  height: 22px;
}
.icon-pencil {
  background-position: -0px -1648px;
  width: 22px;
  height: 22px;
}
.icon-ping_icon {
  background-position: -0px -1670px;
  width: 22px;
  height: 22px;
}
.icon-clans_icons {
  background-position: -0px -1692px;
  width: 22px;
  height: 22px;
}
.icon-polygon {
  background-position: -0px -1714px;
  width: 22px;
  height: 22px;
}
.icon-pr_icons {
  background-position: -0px -1736px;
  width: 22px;
  height: 22px;
}
.icon-area {
  background-position: -0px -1758px;
  width: 22px;
  height: 22px;
}
.icon-present {
  background-position: -0px -1780px;
  width: 22px;
  height: 22px;
}
.icon-propilkki2_icons {
  background-position: -0px -1802px;
  width: 22px;
  height: 22px;
}
.icon-clear {
  background-position: -0px -1824px;
  width: 22px;
  height: 22px;
}
.icon-protoss {
  background-position: -0px -1846px;
  width: 22px;
  height: 22px;
}
.icon-pubg_icons {
  background-position: -0px -1868px;
  width: 22px;
  height: 22px;
}
.icon-clear_area {
  background-position: -0px -1890px;
  width: 22px;
  height: 22px;
}
.icon-rectangle {
  background-position: -0px -1912px;
  width: 22px;
  height: 22px;
}
.icon-recticle_icon {
  background-position: -0px -1934px;
  width: 22px;
  height: 22px;
}
.icon-redo {
  background-position: -0px -1956px;
  width: 22px;
  height: 22px;
}
.icon-remove_slide {
  background-position: -0px -1978px;
  width: 22px;
  height: 22px;
}
.icon-ruler_icon {
  background-position: -0px -2000px;
  width: 22px;
  height: 22px;
}
.icon-save {
  background-position: -0px -2022px;
  width: 22px;
  height: 22px;
}
.icon-save_as {
  background-position: -0px -2044px;
  width: 22px;
  height: 22px;
}
.icon-sc2 {
  background-position: -0px -2066px;
  width: 21px;
  height: 22px;
}
.icon-clear_circle {
  background-position: -0px -2088px;
  width: 22px;
  height: 22px;
}
.icon-select {
  background-position: -0px -2110px;
  width: 22px;
  height: 22px;
}
.icon-clear_curve {
  background-position: -0px -2132px;
  width: 22px;
  height: 22px;
}
.icon-send_to_link_22 {
  background-position: -0px -2154px;
  width: 22px;
  height: 22px;
}
.icon-clear_draw {
  background-position: -0px -2176px;
  width: 22px;
  height: 22px;
}
.icon-squad_icons {
  background-position: -0px -2198px;
  width: 22px;
  height: 22px;
}
.icon-clear_icon {
  background-position: -0px -2220px;
  width: 22px;
  height: 22px;
}
.icon-clear_line {
  background-position: -0px -2242px;
  width: 22px;
  height: 22px;
}
.icon-steelocean_icons {
  background-position: -0px -2264px;
  width: 22px;
  height: 22px;
}
.icon-clear_note {
  background-position: -0px -2286px;
  width: 22px;
  height: 22px;
}
.icon-stop_present {
  background-position: -0px -2308px;
  width: 22px;
  height: 22px;
}
.icon-terran {
  background-position: -0px -2330px;
  width: 22px;
  height: 22px;
}
.icon-text_icon {
  background-position: -0px -2352px;
  width: 22px;
  height: 22px;
}
.icon-text_on_background {
  background-position: -0px -2374px;
  width: 22px;
  height: 22px;
}
.icon-clear_polygon {
  background-position: -0px -2396px;
  width: 22px;
  height: 22px;
}
.icon-undo {
  background-position: -0px -2418px;
  width: 22px;
  height: 22px;
}
.icon-unlock {
  background-position: -0px -2440px;
  width: 22px;
  height: 22px;
}
.icon-unlock_camera {
  background-position: -0px -2462px;
  width: 22px;
  height: 22px;
}
.icon-clear_rectangle {
  background-position: -0px -2484px;
  width: 22px;
  height: 22px;
}
.icon-clear_selected {
  background-position: -0px -2506px;
  width: 22px;
  height: 22px;
}
.icon-warface_icons {
  background-position: -0px -2528px;
  width: 22px;
  height: 22px;
}
.icon-clear_text {
  background-position: -0px -2550px;
  width: 22px;
  height: 22px;
}
.icon-copy {
  background-position: -0px -2572px;
  width: 22px;
  height: 22px;
}
.icon-wot_icons {
  background-position: -0px -2594px;
  width: 22px;
  height: 22px;
}
.icon-csgo_icons {
  background-position: -0px -2616px;
  width: 22px;
  height: 22px;
}
.icon-wows_icons {
  background-position: -0px -2638px;
  width: 22px;
  height: 22px;
}
.icon-arrow {
  background-position: -0px -2660px;
  width: 22px;
  height: 22px;
}
.icon-zerg {
  background-position: -0px -2682px;
  width: 22px;
  height: 22px;
}
.icon-cn {
  background-position: -0px -2704px;
  width: 22px;
  height: 22px;
}
.icon-cs {
  background-position: -0px -2726px;
  width: 22px;
  height: 22px;
}
.icon-de {
  background-position: -0px -2748px;
  width: 22px;
  height: 22px;
}
.icon-el {
  background-position: -0px -2770px;
  width: 22px;
  height: 22px;
}
.icon-en {
  background-position: -0px -2792px;
  width: 22px;
  height: 22px;
}
.icon-es {
  background-position: -0px -2814px;
  width: 22px;
  height: 22px;
}
.icon-fi {
  background-position: -0px -2836px;
  width: 22px;
  height: 22px;
}
.icon-fr {
  background-position: -0px -2858px;
  width: 22px;
  height: 22px;
}
.icon-hu {
  background-position: -0px -2880px;
  width: 22px;
  height: 22px;
}
.icon-it {
  background-position: -0px -2902px;
  width: 22px;
  height: 22px;
}
.icon-nl {
  background-position: -0px -2924px;
  width: 22px;
  height: 22px;
}
.icon-pl {
  background-position: -0px -2946px;
  width: 22px;
  height: 22px;
}
.icon-pt {
  background-position: -0px -2968px;
  width: 22px;
  height: 22px;
}
.icon-ru {
  background-position: -0px -2990px;
  width: 22px;
  height: 22px;
}
.icon-sr {
  background-position: -0px -3012px;
  width: 22px;
  height: 22px;
}
