div#preload { display: none; }

body {
	background: #DDDDDD;
}

h1 { 
    text-shadow: 1px 1px 1px #ccc;
}

.call_to_action {
	color:white;
}

nav a, nav a:active, nav a:focus {
	outline:none;
}

.navbar_planner {
    margin-bottom: 0px;
}

#big_button_frame {
	text-align:center;
}

button {
	text-align: left;
}

.popover-medium {
	padding:0px !important; 
}

.select_tactic_button {
	min-height:37px;
}

.edit_window {
	display:inline-block;
}

.side_bar {
	padding-top: 0px;
	background: #CCCCCC;
	display:inline-block;
	vertical-align:top;
	border: 1px solid black;
}

.left_column {
	display: inline-block;
	vertical-align:top;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
}

.right_column {
	min-width: 250px;
	display:inline-block;
	vertical-align:top;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 20px;
}

.bottom {
	min-width: 600px;
	display:inline-block;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.tank_select {
	border: 2px solid transparent;
	padding: 2px;
	outline: 0;
	background-color: transparent;
}

.slide_btn {
	min-height:42px;
}

.tank_select:hover {
	border: 2px solid red;
}

.tank_select.selected {
	border: 2px solid red;
}

h5 {
	font-size:16px;
}

h4 {
	padding-top:0px;
	padding-bottom:0px;
	font-size:15px;
}

#ex1Slider .slider-selection {
	background: #EBEBEB;
}

#ex1Slider .slider-track-high {
	background: #EAEAEA;
}

#ex1Slider {
	width:100px;
}

#icon_label {
	width:180px;
}

.slider_text_input {
	width: 40px;
	height: 25px;
}

small {
	font-size: 14px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.menu_btn.active {
	background-color: #ADD8E6 !important;
}

.popover {
    min-width: 200px;
    max-width: 10000px;
}

.popover.right .arrow {
  top: 20px !important;
}

.fake_textarea {
	background: #FFFFFF;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
	text-align: left;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: both;
	height: 150px;
	position: float;
}

.chatmsg {
	max-width: 100%;
}

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > a, .nav-tabs > a:active, .nav-tabs > a:focus {
	outline:none;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

.dir_btn {
	min-height: 30px;
	min-width: 30px;
	margin: 1px;
}

/* Tab Content */
.tab-pane {
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

.tactic_entry {
	font-family:arial;
	background-color: #FFFFFF;
	margin:10px 0pt 15px;
	font-size: 12pt;
	width: 100%;
	text-align: left;
}

.stored_tactics_table tr {
	height: 37px;
}

.stored_tactics_table td {
	border: 1px solid #AAAAAA;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot');
    src:    url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.divider-vertical {
	height: 50px;
	width:50px;
	margin: auto;
	border-left: 0px solid black;
	border-right: 0px solid white;
	text-align:center;
}

.icon-trash:before {
    content: "\e906";
}
.icon-patreon:before {
    content: "\e905";
}
.icon-home:before {
    content: "\e904";
}
.icon-paypal:before {
    content: "\e900";
}
.icon-google-plus:before {
    content: "\e901";
}
.icon-facebook:before {
    content: "\e902";
}
.icon-twitter:before {
    content: "\e903";
}

div.inline { display: inline-block; vertical-align: middle; }

/*CSS srites, auto generated with sprity*/

.sheen {
  position: relative;
  overflow: hidden;
}

.sheen:after {
  animation: sheen 1s 0s forwards;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
  transform: rotateZ(60deg) translate(-1em, 4em);
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0, -4em);
  }
}


.ui-sortable tr {     
	cursor:pointer; 
}

.ui-sortable tr:hover {     
	background:rgba(244,251,17,0.45) !important; 
}

.icon {
  background-image: url('sprite.png');
}

.icon-logout {
  background-position: -0px -0px;
  width: 16px;
  height: 16px;
}
.icon-wows {
  background-position: -0px -16px;
  width: 16px;
  height: 16px;
}
.icon-battlenet {
  background-position: -0px -32px;
  width: 16px;
  height: 16px;
}
.icon-bin_small {
  background-position: -0px -48px;
  width: 16px;
  height: 16px;
}
.icon-blitz {
  background-position: -0px -64px;
  width: 16px;
  height: 16px;
}
.icon-csgo_sm {
  background-position: -0px -80px;
  width: 16px;
  height: 16px;
}
.icon-facebook {
  background-position: -0px -96px;
  width: 16px;
  height: 16px;
}
.icon-wot {
  background-position: -0px -112px;
  width: 16px;
  height: 16px;
}
.icon-google {
  background-position: -0px -128px;
  width: 16px;
  height: 16px;
}
.icon-hots_sm {
  background-position: -0px -144px;
  width: 16px;
  height: 16px;
}
.icon-wargaming {
  background-position: -0px -160px;
  width: 16px;
  height: 16px;
}
.icon-aw {
  background-position: -0px -176px;
  width: 16px;
  height: 16px;
}
.icon-lol_sm {
  background-position: -0px -192px;
  width: 16px;
  height: 16px;
}
.icon-sc2_sm {
  background-position: -0px -208px;
  width: 16px;
  height: 16px;
}
.icon-warface_sm {
  background-position: -0px -224px;
  width: 16px;
  height: 16px;
}
.icon-vk {
  background-position: -0px -240px;
  width: 16px;
  height: 16px;
}
.icon-steam {
  background-position: -0px -256px;
  width: 16px;
  height: 16px;
}
.icon-twitter {
  background-position: -0px -272px;
  width: 16px;
  height: 16px;
}
.icon-share {
  background-position: -0px -288px;
  width: 18px;
  height: 18px;
}
.icon-send_to_link {
  background-position: -0px -306px;
  width: 18px;
  height: 18px;
}
.icon-link_sm {
  background-position: -0px -324px;
  width: 18px;
  height: 18px;
}
.icon-from_link {
  background-position: -0px -342px;
  width: 18px;
  height: 18px;
}
.icon-line_icon {
  background-position: -0px -360px;
  width: 22px;
  height: 22px;
}
.icon-copy {
  background-position: -0px -382px;
  width: 22px;
  height: 22px;
}
.icon-csgo {
  background-position: -0px -404px;
  width: 22px;
  height: 22px;
}
.icon-arrow {
  background-position: -0px -426px;
  width: 22px;
  height: 22px;
}
.icon-cursor_icon {
  background-position: -0px -448px;
  width: 22px;
  height: 22px;
}
.icon-curve {
  background-position: -0px -470px;
  width: 22px;
  height: 22px;
}
.icon-curve_T {
  background-position: -0px -492px;
  width: 22px;
  height: 22px;
}
.icon-curved_arrow {
  background-position: -0px -514px;
  width: 22px;
  height: 22px;
}
.icon-curved_dashed_arrow {
  background-position: -0px -536px;
  width: 22px;
  height: 22px;
}
.icon-curved_dashed_line {
  background-position: -0px -558px;
  width: 22px;
  height: 22px;
}
.icon-curved_dotted_arrow {
  background-position: -0px -580px;
  width: 22px;
  height: 22px;
}
.icon-curved_dotted_line {
  background-position: -0px -602px;
  width: 22px;
  height: 22px;
}
.icon-curved_line {
  background-position: -0px -624px;
  width: 22px;
  height: 22px;
}
.icon-cut {
  background-position: -0px -646px;
  width: 22px;
  height: 22px;
}
.icon-dashed_arrow {
  background-position: -0px -668px;
  width: 22px;
  height: 22px;
}
.icon-dashed_line {
  background-position: -0px -690px;
  width: 22px;
  height: 22px;
}
.icon-dot_icon {
  background-position: -0px -712px;
  width: 22px;
  height: 22px;
}
.icon-dotted_arrow {
  background-position: -0px -734px;
  width: 22px;
  height: 22px;
}
.icon-dotted_line {
  background-position: -0px -756px;
  width: 22px;
  height: 22px;
}
.icon-draw_circle_icon {
  background-position: -0px -778px;
  width: 22px;
  height: 22px;
}
.icon-draw_circle_radius_icon {
  background-position: -0px -800px;
  width: 22px;
  height: 22px;
}
.icon-eraser {
  background-position: -0px -822px;
  width: 22px;
  height: 22px;
}
.icon-export {
  background-position: -0px -844px;
  width: 22px;
  height: 22px;
}
.icon-bin {
  background-position: -0px -866px;
  width: 22px;
  height: 22px;
}
.icon-floppy {
  background-position: -0px -888px;
  width: 22px;
  height: 22px;
}
.icon-folder {
  background-position: -0px -910px;
  width: 22px;
  height: 22px;
}
.icon-archive_icon {
  background-position: -0px -932px;
  width: 22px;
  height: 22px;
}
.icon-aw_icon {
  background-position: -0px -954px;
  width: 22px;
  height: 22px;
}
.icon-grid_icon {
  background-position: -0px -976px;
  width: 22px;
  height: 22px;
}
.icon-hots {
  background-position: -0px -998px;
  width: 22px;
  height: 22px;
}
.icon-bomb {
  background-position: -0px -1020px;
  width: 22px;
  height: 22px;
}
.icon-icon_icon {
  background-position: -0px -1042px;
  width: 22px;
  height: 22px;
}
.icon-line_T {
  background-position: -0px -1064px;
  width: 22px;
  height: 22px;
}
.icon-area {
  background-position: -0px -1086px;
  width: 22px;
  height: 22px;
}
.icon-link {
  background-position: -0px -1108px;
  width: 22px;
  height: 22px;
}
.icon-circle_icon {
  background-position: -0px -1130px;
  width: 22px;
  height: 22px;
}
.icon-lock {
  background-position: -0px -1152px;
  width: 22px;
  height: 22px;
}
.icon-clear {
  background-position: -0px -1174px;
  width: 22px;
  height: 22px;
}
.icon-lol {
  background-position: -0px -1196px;
  width: 22px;
  height: 22px;
}
.icon-clear_area {
  background-position: -0px -1218px;
  width: 22px;
  height: 22px;
}
.icon-map_icon {
  background-position: -0px -1240px;
  width: 22px;
  height: 22px;
}
.icon-move {
  background-position: -0px -1262px;
  width: 22px;
  height: 22px;
}
.icon-note {
  background-position: -0px -1284px;
  width: 22px;
  height: 22px;
}
.icon-paste {
  background-position: -0px -1306px;
  width: 22px;
  height: 22px;
}
.icon-patreon {
  background-position: -0px -1328px;
  width: 22px;
  height: 22px;
}
.icon-paypal {
  background-position: -0px -1350px;
  width: 22px;
  height: 22px;
}
.icon-pencil {
  background-position: -0px -1372px;
  width: 22px;
  height: 22px;
}
.icon-ping_icon {
  background-position: -0px -1394px;
  width: 22px;
  height: 22px;
}
.icon-polygon {
  background-position: -0px -1416px;
  width: 22px;
  height: 22px;
}
.icon-protoss {
  background-position: -0px -1438px;
  width: 22px;
  height: 22px;
}
.icon-rectangle {
  background-position: -0px -1460px;
  width: 22px;
  height: 22px;
}
.icon-recticle_icon {
  background-position: -0px -1482px;
  width: 22px;
  height: 22px;
}
.icon-redo {
  background-position: -0px -1504px;
  width: 22px;
  height: 22px;
}
.icon-remove_slide {
  background-position: -0px -1526px;
  width: 22px;
  height: 22px;
}
.icon-ruler_icon {
  background-position: -0px -1548px;
  width: 22px;
  height: 22px;
}
.icon-save {
  background-position: -0px -1570px;
  width: 22px;
  height: 22px;
}
.icon-save_as {
  background-position: -0px -1592px;
  width: 22px;
  height: 22px;
}
.icon-sc2 {
  background-position: -0px -1614px;
  width: 21px;
  height: 22px;
}
.icon-clear_circle {
  background-position: -0px -1636px;
  width: 22px;
  height: 22px;
}
.icon-select {
  background-position: -0px -1658px;
  width: 22px;
  height: 22px;
}
.icon-clear_curve {
  background-position: -0px -1680px;
  width: 22px;
  height: 22px;
}
.icon-send_to_link_22 {
  background-position: -0px -1702px;
  width: 22px;
  height: 22px;
}
.icon-clear_draw {
  background-position: -0px -1724px;
  width: 22px;
  height: 22px;
}
.icon-ship_icon {
  background-position: -0px -1746px;
  width: 22px;
  height: 22px;
}
.icon-clear_icon {
  background-position: -0px -1768px;
  width: 22px;
  height: 22px;
}
.icon-tank_icon {
  background-position: -0px -1790px;
  width: 22px;
  height: 22px;
}
.icon-terran {
  background-position: -0px -1812px;
  width: 22px;
  height: 22px;
}
.icon-text_icon {
  background-position: -0px -1834px;
  width: 22px;
  height: 22px;
}
.icon-text_on_background {
  background-position: -0px -1856px;
  width: 22px;
  height: 22px;
}
.icon-clear_line {
  background-position: -0px -1878px;
  width: 22px;
  height: 22px;
}
.icon-undo {
  background-position: -0px -1900px;
  width: 22px;
  height: 22px;
}
.icon-unlock {
  background-position: -0px -1922px;
  width: 22px;
  height: 22px;
}
.icon-clear_note {
  background-position: -0px -1944px;
  width: 22px;
  height: 22px;
}
.icon-warface {
  background-position: -0px -1966px;
  width: 22px;
  height: 22px;
}
.icon-clear_polygon {
  background-position: -0px -1988px;
  width: 22px;
  height: 22px;
}
.icon-clear_rectangle {
  background-position: -0px -2010px;
  width: 22px;
  height: 22px;
}
.icon-clear_selected {
  background-position: -0px -2032px;
  width: 22px;
  height: 22px;
}
.icon-clear_text {
  background-position: -0px -2054px;
  width: 22px;
  height: 22px;
}
.icon-zerg {
  background-position: -0px -2076px;
  width: 22px;
  height: 22px;
}
.icon-cs {
  background-position: -0px -2098px;
  width: 24px;
  height: 24px;
}
.icon-de {
  background-position: -0px -2122px;
  width: 24px;
  height: 24px;
}
.icon-en {
  background-position: -0px -2146px;
  width: 24px;
  height: 24px;
}
.icon-es {
  background-position: -0px -2170px;
  width: 24px;
  height: 24px;
}
.icon-fi {
  background-position: -0px -2194px;
  width: 24px;
  height: 24px;
}
.icon-fr {
  background-position: -0px -2218px;
  width: 24px;
  height: 24px;
}
.icon-pl {
  background-position: -0px -2242px;
  width: 24px;
  height: 24px;
}
.icon-ru {
  background-position: -0px -2266px;
  width: 24px;
  height: 24px;
}
.icon-sr {
  background-position: -0px -2290px;
  width: 24px;
  height: 24px;
}

