
.clans_icons {
  background-image: url('./clans_icons.png');
}

.clans_icons-spring_trap_editor {
  background-position: -0px -0px;
  width: 40px;
  height: 37px;
}
.clans_icons-healer_4 {
  background-position: -0px -37px;
  width: 40px;
  height: 40px;
}
.clans_icons-air_bomb_4 {
  background-position: -0px -77px;
  width: 40px;
  height: 40px;
}
.clans_icons-archer_7 {
  background-position: -0px -117px;
  width: 40px;
  height: 40px;
}
.clans_icons-baby_dragon_1 {
  background-position: -0px -157px;
  width: 40px;
  height: 40px;
}
.clans_icons-balloon_6 {
  background-position: -0px -197px;
  width: 40px;
  height: 40px;
}
.clans_icons-barbarian_7 {
  background-position: -0px -237px;
  width: 40px;
  height: 40px;
}
.clans_icons-bowler_3 {
  background-position: -0px -277px;
  width: 40px;
  height: 40px;
}
.clans_icons-dragon_5 {
  background-position: -0px -317px;
  width: 40px;
  height: 40px;
}
.clans_icons-giant_7 {
  background-position: -0px -357px;
  width: 40px;
  height: 40px;
}
.clans_icons-giant_bomb_4 {
  background-position: -0px -397px;
  width: 40px;
  height: 40px;
}
.clans_icons-goblin_6 {
  background-position: -0px -437px;
  width: 40px;
  height: 40px;
}
.clans_icons-witch_2 {
  background-position: -0px -477px;
  width: 40px;
  height: 40px;
}
.clans_icons-wall_breaker_6 {
  background-position: -0px -517px;
  width: 40px;
  height: 40px;
}
.clans_icons-hidden_tesla_8 {
  background-position: -0px -557px;
  width: 40px;
  height: 40px;
}
.clans_icons-hog_rider_5 {
  background-position: -0px -597px;
  width: 40px;
  height: 40px;
}
.clans_icons-lava_hound_3 {
  background-position: -0px -637px;
  width: 40px;
  height: 40px;
}
.clans_icons-miner_4 {
  background-position: -0px -677px;
  width: 40px;
  height: 40px;
}
.clans_icons-minion_6 {
  background-position: -0px -717px;
  width: 40px;
  height: 40px;
}
.clans_icons-pekka_5 {
  background-position: -0px -757px;
  width: 40px;
  height: 40px;
}
.clans_icons-seeking_air_mine_4 {
  background-position: -0px -797px;
  width: 40px;
  height: 40px;
}
.clans_icons-valkyrie_4 {
  background-position: -0px -837px;
  width: 40px;
  height: 40px;
}
.clans_icons-Bomb5 {
  background-position: -0px -877px;
  width: 40px;
  height: 40px;
}
.clans_icons-wizard_6 {
  background-position: -0px -917px;
  width: 40px;
  height: 40px;
}
.clans_icons-golem_5 {
  background-position: -0px -957px;
  width: 40px;
  height: 43px;
}
.clans_icons-skeleton_trap_4 {
  background-position: -0px -1000px;
  width: 40px;
  height: 50px;
}
.clans_icons-Skeleton_Trap_3-Air {
  background-position: -0px -1050px;
  width: 40px;
  height: 50px;
}
