
.lol_champions {
  background-image: url('http://karellodewijk.github.io/lol_champions.jpg');
}

.lol_champions-MissFortune_Square_0 {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.lol_champions-Aatrox_Square_0 {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.lol_champions-Akali_Square_0 {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Alistar_Square_0 {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.lol_champions-Amumu_Square_0 {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.lol_champions-Anivia_Square_0 {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Annie_Square_0 {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.lol_champions-Ashe_Square_0 {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.lol_champions-AurelionSol_Square_0 {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Azir_Square_0 {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Bard_Square_0 {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Blitzcrank_Square_0 {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.lol_champions-Brand_Square_0 {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.lol_champions-Braum_Square_0 {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.lol_champions-Caitlyn_Square_0 {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.lol_champions-Cassiopeia_Square_0 {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.lol_champions-Chogath_Square_0 {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.lol_champions-Corki_Square_0 {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.lol_champions-Darius_Square_0 {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.lol_champions-Diana_Square_0 {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.lol_champions-DrMundo_Square_0 {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.lol_champions-Draven_Square_0 {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.lol_champions-Ekko_Square_0 {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Elise_Square_0 {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
.lol_champions-Evelynn_Square_0 {
  background-position: -0px -1200px;
  width: 50px;
  height: 50px;
}
.lol_champions-Ezreal_Square_0 {
  background-position: -0px -1250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Fiddlesticks_Square_0 {
  background-position: -0px -1300px;
  width: 50px;
  height: 50px;
}
.lol_champions-Fiora_Square_0 {
  background-position: -0px -1350px;
  width: 50px;
  height: 50px;
}
.lol_champions-Fizz_square_0 {
  background-position: -0px -1400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Galio_Square_0 {
  background-position: -0px -1450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Gangplank_Square_0 {
  background-position: -0px -1500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Garen_Square_0 {
  background-position: -0px -1550px;
  width: 50px;
  height: 50px;
}
.lol_champions-Gnar_Square_0 {
  background-position: -0px -1600px;
  width: 50px;
  height: 50px;
}
.lol_champions-Gragas_Square_0 {
  background-position: -0px -1650px;
  width: 50px;
  height: 50px;
}
.lol_champions-Graves_Square_0 {
  background-position: -0px -1700px;
  width: 50px;
  height: 50px;
}
.lol_champions-Hecarim_Square_0 {
  background-position: -0px -1750px;
  width: 50px;
  height: 50px;
}
.lol_champions-Heimerdinger_Square_0 {
  background-position: -0px -1800px;
  width: 50px;
  height: 50px;
}
.lol_champions-Illaoi_Square_0 {
  background-position: -0px -1850px;
  width: 50px;
  height: 50px;
}
.lol_champions-Irelia_Square_0 {
  background-position: -0px -1900px;
  width: 50px;
  height: 50px;
}
.lol_champions-Janna_Square_0 {
  background-position: -0px -1950px;
  width: 50px;
  height: 50px;
}
.lol_champions-JarvanIV_Square_0 {
  background-position: -0px -2000px;
  width: 50px;
  height: 50px;
}
.lol_champions-Jax_Square_0 {
  background-position: -0px -2050px;
  width: 50px;
  height: 50px;
}
.lol_champions-Jayce_Square_0 {
  background-position: -0px -2100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Jhin_Square_0 {
  background-position: -0px -2150px;
  width: 50px;
  height: 50px;
}
.lol_champions-Jinx_Square_0 {
  background-position: -0px -2200px;
  width: 50px;
  height: 50px;
}
.lol_champions-Kalista_Square_0 {
  background-position: -0px -2250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Karma_Square_0 {
  background-position: -0px -2300px;
  width: 50px;
  height: 50px;
}
.lol_champions-Karthus_Square_0 {
  background-position: -0px -2350px;
  width: 50px;
  height: 50px;
}
.lol_champions-Kassadin_Square_0 {
  background-position: -0px -2400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Katarina_Square_0 {
  background-position: -0px -2450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Kayle_Square_0 {
  background-position: -0px -2500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Kennen_Square_0 {
  background-position: -0px -2550px;
  width: 50px;
  height: 50px;
}
.lol_champions-Khazix_Square_0 {
  background-position: -0px -2600px;
  width: 50px;
  height: 50px;
}
.lol_champions-Kindred_Square_0 {
  background-position: -0px -2650px;
  width: 50px;
  height: 50px;
}
.lol_champions-KogMaw_Square_0 {
  background-position: -0px -2700px;
  width: 50px;
  height: 50px;
}
.lol_champions-Leblanc_Square_0 {
  background-position: -0px -2750px;
  width: 50px;
  height: 50px;
}
.lol_champions-LeeSin_Square_0 {
  background-position: -0px -2800px;
  width: 50px;
  height: 50px;
}
.lol_champions-Leona_Square_0 {
  background-position: -0px -2850px;
  width: 50px;
  height: 50px;
}
.lol_champions-Lissandra_Square_0 {
  background-position: -0px -2900px;
  width: 50px;
  height: 50px;
}
.lol_champions-Lucian_Square_0 {
  background-position: -0px -2950px;
  width: 50px;
  height: 50px;
}
.lol_champions-Lulu_Square_0 {
  background-position: -0px -3000px;
  width: 50px;
  height: 50px;
}
.lol_champions-Lux_Square_0 {
  background-position: -0px -3050px;
  width: 50px;
  height: 50px;
}
.lol_champions-Malphite_Square_0 {
  background-position: -0px -3100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Malzahar_Square_0 {
  background-position: -0px -3150px;
  width: 50px;
  height: 50px;
}
.lol_champions-Maokai_Square_0 {
  background-position: -0px -3200px;
  width: 50px;
  height: 50px;
}
.lol_champions-MasterYi_Square_0 {
  background-position: -0px -3250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Ahri_Square_0 {
  background-position: -0px -3300px;
  width: 50px;
  height: 50px;
}
.lol_champions-MonkeyKing_Square_0 {
  background-position: -0px -3350px;
  width: 50px;
  height: 50px;
}
.lol_champions-Mordekaiser_Square_0 {
  background-position: -0px -3400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Morgana_Square_0 {
  background-position: -0px -3450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Nami_Square_0 {
  background-position: -0px -3500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Nasus_Square_0 {
  background-position: -0px -3550px;
  width: 50px;
  height: 50px;
}
.lol_champions-Nautilus_Square_0 {
  background-position: -0px -3600px;
  width: 50px;
  height: 50px;
}
.lol_champions-Nidalee_Square_0 {
  background-position: -0px -3650px;
  width: 50px;
  height: 50px;
}
.lol_champions-Nocturne_Square_0 {
  background-position: -0px -3700px;
  width: 50px;
  height: 50px;
}
.lol_champions-Nunu_Square_0 {
  background-position: -0px -3750px;
  width: 50px;
  height: 50px;
}
.lol_champions-Olaf_Square_0 {
  background-position: -0px -3800px;
  width: 50px;
  height: 50px;
}
.lol_champions-Orianna_Square_0 {
  background-position: -0px -3850px;
  width: 50px;
  height: 50px;
}
.lol_champions-Pantheon_Square_0 {
  background-position: -0px -3900px;
  width: 50px;
  height: 50px;
}
.lol_champions-Poppy_Square_0 {
  background-position: -0px -3950px;
  width: 50px;
  height: 50px;
}
.lol_champions-Quinn_Square_0 {
  background-position: -0px -4000px;
  width: 50px;
  height: 50px;
}
.lol_champions-Rammus_Square_0 {
  background-position: -0px -4050px;
  width: 50px;
  height: 50px;
}
.lol_champions-RekSai_Square_0 {
  background-position: -0px -4100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Renekton_Square_0 {
  background-position: -0px -4150px;
  width: 50px;
  height: 50px;
}
.lol_champions-Rengar_Square_0 {
  background-position: -0px -4200px;
  width: 50px;
  height: 50px;
}
.lol_champions-Riven_Square_0 {
  background-position: -0px -4250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Rumble_Square_0 {
  background-position: -0px -4300px;
  width: 50px;
  height: 50px;
}
.lol_champions-Ryze_Square_0 {
  background-position: -0px -4350px;
  width: 50px;
  height: 50px;
}
.lol_champions-Sejuani_Square_0 {
  background-position: -0px -4400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Shaco_Square_0 {
  background-position: -0px -4450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Shen_Square_0 {
  background-position: -0px -4500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Shyvana_Square_0 {
  background-position: -0px -4550px;
  width: 50px;
  height: 50px;
}
.lol_champions-Singed_Square_0 {
  background-position: -0px -4600px;
  width: 50px;
  height: 50px;
}
.lol_champions-Sion_Square_0 {
  background-position: -0px -4650px;
  width: 50px;
  height: 50px;
}
.lol_champions-Sivir_Square_0 {
  background-position: -0px -4700px;
  width: 50px;
  height: 50px;
}
.lol_champions-Skarner_Square_0 {
  background-position: -0px -4750px;
  width: 50px;
  height: 50px;
}
.lol_champions-Sona_Square_0 {
  background-position: -0px -4800px;
  width: 50px;
  height: 50px;
}
.lol_champions-Soraka_Square_0 {
  background-position: -0px -4850px;
  width: 50px;
  height: 50px;
}
.lol_champions-Swain_Square_0 {
  background-position: -0px -4900px;
  width: 50px;
  height: 50px;
}
.lol_champions-Syndra_Square_0 {
  background-position: -0px -4950px;
  width: 50px;
  height: 50px;
}
.lol_champions-TahmKench_Square_0 {
  background-position: -0px -5000px;
  width: 50px;
  height: 50px;
}
.lol_champions-Talon_Square_0 {
  background-position: -0px -5050px;
  width: 50px;
  height: 50px;
}
.lol_champions-Taric_Square_0 {
  background-position: -0px -5100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Teemo_Square_0 {
  background-position: -0px -5150px;
  width: 50px;
  height: 50px;
}
.lol_champions-Thresh_Square_0 {
  background-position: -0px -5200px;
  width: 50px;
  height: 50px;
}
.lol_champions-Tristana_Square_0 {
  background-position: -0px -5250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Trundle_Square_0 {
  background-position: -0px -5300px;
  width: 50px;
  height: 50px;
}
.lol_champions-Tryndamere_Square_0 {
  background-position: -0px -5350px;
  width: 50px;
  height: 50px;
}
.lol_champions-TwistedFate_Square_0 {
  background-position: -0px -5400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Twitch_Square_0 {
  background-position: -0px -5450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Udyr_Square_0 {
  background-position: -0px -5500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Urgot_Square_0 {
  background-position: -0px -5550px;
  width: 50px;
  height: 50px;
}
.lol_champions-Varus_Square_0 {
  background-position: -0px -5600px;
  width: 50px;
  height: 50px;
}
.lol_champions-Vayne_Square_0 {
  background-position: -0px -5650px;
  width: 50px;
  height: 50px;
}
.lol_champions-Veigar_Square_0 {
  background-position: -0px -5700px;
  width: 50px;
  height: 50px;
}
.lol_champions-VelKoz_Square_0 {
  background-position: -0px -5750px;
  width: 50px;
  height: 50px;
}
.lol_champions-Vi_Square_0 {
  background-position: -0px -5800px;
  width: 50px;
  height: 50px;
}
.lol_champions-Viktor_Square_0 {
  background-position: -0px -5850px;
  width: 50px;
  height: 50px;
}
.lol_champions-Vladimir_Square_0 {
  background-position: -0px -5900px;
  width: 50px;
  height: 50px;
}
.lol_champions-Voidgate_Square_0 {
  background-position: -0px -5950px;
  width: 50px;
  height: 50px;
}
.lol_champions-Voidspawn_Square_0 {
  background-position: -0px -6000px;
  width: 50px;
  height: 50px;
}
.lol_champions-Volibear_Square_0 {
  background-position: -0px -6050px;
  width: 50px;
  height: 50px;
}
.lol_champions-Warwick_Square_0 {
  background-position: -0px -6100px;
  width: 50px;
  height: 50px;
}
.lol_champions-Xerath_Square_0 {
  background-position: -0px -6150px;
  width: 50px;
  height: 50px;
}
.lol_champions-XinZhao_Square_0 {
  background-position: -0px -6200px;
  width: 50px;
  height: 50px;
}
.lol_champions-Yasuo_Square_0 {
  background-position: -0px -6250px;
  width: 50px;
  height: 50px;
}
.lol_champions-Yorick_Square_0 {
  background-position: -0px -6300px;
  width: 50px;
  height: 50px;
}
.lol_champions-Zac_Square_0 {
  background-position: -0px -6350px;
  width: 50px;
  height: 50px;
}
.lol_champions-Zed_Square_0 {
  background-position: -0px -6400px;
  width: 50px;
  height: 50px;
}
.lol_champions-Ziggs_Square_0 {
  background-position: -0px -6450px;
  width: 50px;
  height: 50px;
}
.lol_champions-Zilean_Square_0 {
  background-position: -0px -6500px;
  width: 50px;
  height: 50px;
}
.lol_champions-Zyra_Square_0 {
  background-position: -0px -6550px;
  width: 50px;
  height: 50px;
}
