
.lol_runes {
  background-image: url('lol_runes.png');
}

.lol_runes-bl_3_2 {
  background-position: -0px -0px;
  width: 52px;
  height: 50px;
}
.lol_runes-10001 {
  background-position: -0px -50px;
  width: 52px;
  height: 50px;
}
.lol_runes-8001 {
  background-position: -0px -100px;
  width: 52px;
  height: 50px;
}
.lol_runes-8002 {
  background-position: -0px -150px;
  width: 52px;
  height: 50px;
}
.lol_runes-8003 {
  background-position: -0px -200px;
  width: 52px;
  height: 50px;
}
.lol_runes-8004 {
  background-position: -0px -250px;
  width: 52px;
  height: 50px;
}
.lol_runes-8005 {
  background-position: -0px -300px;
  width: 52px;
  height: 50px;
}
.lol_runes-8006 {
  background-position: -0px -350px;
  width: 52px;
  height: 50px;
}
.lol_runes-8007 {
  background-position: -0px -400px;
  width: 52px;
  height: 50px;
}
.lol_runes-8008 {
  background-position: -0px -450px;
  width: 52px;
  height: 50px;
}
.lol_runes-8009 {
  background-position: -0px -500px;
  width: 52px;
  height: 50px;
}
.lol_runes-8010 {
  background-position: -0px -550px;
  width: 52px;
  height: 50px;
}
.lol_runes-8011 {
  background-position: -0px -600px;
  width: 52px;
  height: 50px;
}
.lol_runes-8012 {
  background-position: -0px -650px;
  width: 52px;
  height: 50px;
}
.lol_runes-8013 {
  background-position: -0px -700px;
  width: 52px;
  height: 50px;
}
.lol_runes-8014 {
  background-position: -0px -750px;
  width: 52px;
  height: 50px;
}
.lol_runes-8015 {
  background-position: -0px -800px;
  width: 52px;
  height: 50px;
}
.lol_runes-8016 {
  background-position: -0px -850px;
  width: 52px;
  height: 50px;
}
.lol_runes-8017 {
  background-position: -0px -900px;
  width: 52px;
  height: 50px;
}
.lol_runes-8018 {
  background-position: -0px -950px;
  width: 52px;
  height: 50px;
}
.lol_runes-8019 {
  background-position: -0px -1000px;
  width: 52px;
  height: 50px;
}
.lol_runes-8020 {
  background-position: -0px -1050px;
  width: 52px;
  height: 50px;
}
.lol_runes-8021 {
  background-position: -0px -1100px;
  width: 52px;
  height: 50px;
}
.lol_runes-8022 {
  background-position: -0px -1150px;
  width: 52px;
  height: 50px;
}
.lol_runes-8035 {
  background-position: -0px -1200px;
  width: 52px;
  height: 50px;
}
.lol_runes-b_1_1 {
  background-position: -0px -1250px;
  width: 45px;
  height: 50px;
}
.lol_runes-b_1_2 {
  background-position: -0px -1300px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_1_3 {
  background-position: -0px -1350px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_2_1 {
  background-position: -0px -1400px;
  width: 45px;
  height: 50px;
}
.lol_runes-b_2_2 {
  background-position: -0px -1450px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_2_3 {
  background-position: -0px -1500px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_3_1 {
  background-position: -0px -1550px;
  width: 45px;
  height: 50px;
}
.lol_runes-b_3_2 {
  background-position: -0px -1600px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_3_3 {
  background-position: -0px -1650px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_4_1 {
  background-position: -0px -1700px;
  width: 45px;
  height: 50px;
}
.lol_runes-b_4_2 {
  background-position: -0px -1750px;
  width: 44px;
  height: 50px;
}
.lol_runes-b_4_3 {
  background-position: -0px -1800px;
  width: 44px;
  height: 50px;
}
.lol_runes-bl_1_1 {
  background-position: -0px -1850px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_1_2 {
  background-position: -0px -1900px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_1_3 {
  background-position: -0px -1950px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_2_1 {
  background-position: -0px -2000px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_2_2 {
  background-position: -0px -2050px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_2_3 {
  background-position: -0px -2100px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_3_1 {
  background-position: -0px -2150px;
  width: 52px;
  height: 50px;
}
.lol_runes-10002 {
  background-position: -0px -2200px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_3_3 {
  background-position: -0px -2250px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_4_1 {
  background-position: -0px -2300px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_4_2 {
  background-position: -0px -2350px;
  width: 52px;
  height: 50px;
}
.lol_runes-bl_4_3 {
  background-position: -0px -2400px;
  width: 52px;
  height: 50px;
}
.lol_runes-blue_i3 {
  background-position: -0px -2450px;
  width: 44px;
  height: 50px;
}
.lol_runes-blue_i5 {
  background-position: -0px -2500px;
  width: 44px;
  height: 50px;
}
.lol_runes-blue_i7 {
  background-position: -0px -2550px;
  width: 44px;
  height: 50px;
}
.lol_runes-gold_i3 {
  background-position: -0px -2600px;
  width: 52px;
  height: 50px;
}
.lol_runes-gold_i5 {
  background-position: -0px -2650px;
  width: 52px;
  height: 50px;
}
.lol_runes-gold_i7 {
  background-position: -0px -2700px;
  width: 52px;
  height: 50px;
}
.lol_runes-r_1_1 {
  background-position: -0px -2750px;
  width: 45px;
  height: 50px;
}
.lol_runes-r_1_2 {
  background-position: -0px -2800px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_1_3 {
  background-position: -0px -2850px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_2_1 {
  background-position: -0px -2900px;
  width: 45px;
  height: 50px;
}
.lol_runes-r_2_2 {
  background-position: -0px -2950px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_2_3 {
  background-position: -0px -3000px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_3_1 {
  background-position: -0px -3050px;
  width: 45px;
  height: 50px;
}
.lol_runes-r_3_2 {
  background-position: -0px -3100px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_3_3 {
  background-position: -0px -3150px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_4_1 {
  background-position: -0px -3200px;
  width: 45px;
  height: 50px;
}
.lol_runes-r_4_2 {
  background-position: -0px -3250px;
  width: 44px;
  height: 50px;
}
.lol_runes-r_4_3 {
  background-position: -0px -3300px;
  width: 44px;
  height: 50px;
}
.lol_runes-red_i3 {
  background-position: -0px -3350px;
  width: 44px;
  height: 50px;
}
.lol_runes-red_i5 {
  background-position: -0px -3400px;
  width: 44px;
  height: 50px;
}
.lol_runes-red_i7 {
  background-position: -0px -3450px;
  width: 44px;
  height: 50px;
}
.lol_runes-runeTargetDisabledLarge10 {
  background-position: -0px -3500px;
  width: 55px;
  height: 50px;
}
.lol_runes-runeTargetDisabledLarge20 {
  background-position: -0px -3550px;
  width: 55px;
  height: 50px;
}
.lol_runes-runeTargetDisabledLarge30 {
  background-position: -0px -3600px;
  width: 55px;
  height: 50px;
}
.lol_runes-y_1_1 {
  background-position: -0px -3650px;
  width: 45px;
  height: 50px;
}
.lol_runes-y_1_2 {
  background-position: -0px -3700px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_1_3 {
  background-position: -0px -3750px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_2_1 {
  background-position: -0px -3800px;
  width: 45px;
  height: 50px;
}
.lol_runes-y_2_2 {
  background-position: -0px -3850px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_2_3 {
  background-position: -0px -3900px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_3_1 {
  background-position: -0px -3950px;
  width: 45px;
  height: 50px;
}
.lol_runes-y_3_2 {
  background-position: -0px -4000px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_3_3 {
  background-position: -0px -4050px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_4_1 {
  background-position: -0px -4100px;
  width: 45px;
  height: 50px;
}
.lol_runes-y_4_2 {
  background-position: -0px -4150px;
  width: 44px;
  height: 50px;
}
.lol_runes-y_4_3 {
  background-position: -0px -4200px;
  width: 44px;
  height: 50px;
}
.lol_runes-yellow_i3 {
  background-position: -0px -4250px;
  width: 44px;
  height: 50px;
}
.lol_runes-yellow_i5 {
  background-position: -0px -4300px;
  width: 44px;
  height: 50px;
}
.lol_runes-yellow_i7 {
  background-position: -0px -4350px;
  width: 44px;
  height: 50px;
}
