
.lol_wards {
  background-image: url('lol_wards.png');
}

.lol_wards-wardIcon_35 {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_0 {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_10 {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_11 {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_12 {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_13 {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_14 {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_15 {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_16 {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_17 {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_18 {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_19 {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_2 {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_20 {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_21 {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_22 {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_23 {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_24 {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_25 {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_26 {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_27 {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_28 {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_29 {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_3 {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_30 {
  background-position: -0px -1200px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_31 {
  background-position: -0px -1250px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_32 {
  background-position: -0px -1300px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_33 {
  background-position: -0px -1350px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_34 {
  background-position: -0px -1400px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_1 {
  background-position: -0px -1450px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_36 {
  background-position: -0px -1500px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_37 {
  background-position: -0px -1550px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_38 {
  background-position: -0px -1600px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_39 {
  background-position: -0px -1650px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_4 {
  background-position: -0px -1700px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_40 {
  background-position: -0px -1750px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_41 {
  background-position: -0px -1800px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_42 {
  background-position: -0px -1850px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_43 {
  background-position: -0px -1900px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_44 {
  background-position: -0px -1950px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_45 {
  background-position: -0px -2000px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_46 {
  background-position: -0px -2050px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_47 {
  background-position: -0px -2100px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_48 {
  background-position: -0px -2150px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_49 {
  background-position: -0px -2200px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_5 {
  background-position: -0px -2250px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_50 {
  background-position: -0px -2300px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_51 {
  background-position: -0px -2350px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_52 {
  background-position: -0px -2400px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_53 {
  background-position: -0px -2450px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_54 {
  background-position: -0px -2500px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_55 {
  background-position: -0px -2550px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_6 {
  background-position: -0px -2600px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_7 {
  background-position: -0px -2650px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_8 {
  background-position: -0px -2700px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardIcon_9 {
  background-position: -0px -2750px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardicon_56 {
  background-position: -0px -2800px;
  width: 50px;
  height: 50px;
}
.lol_wards-wardicon_57 {
  background-position: -0px -2850px;
  width: 50px;
  height: 50px;
}
