
.lol_spells {
  background-image: url('lol_spells.jpg');
}

.lol_spells-spellButton4 {
  background-position: -0px -0px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton0 {
  background-position: -0px -50px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton10 {
  background-position: -0px -100px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton11 {
  background-position: -0px -150px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton2 {
  background-position: -0px -200px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton3 {
  background-position: -0px -250px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton1 {
  background-position: -0px -300px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton5 {
  background-position: -0px -350px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton6 {
  background-position: -0px -400px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton7 {
  background-position: -0px -450px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton8 {
  background-position: -0px -500px;
  width: 49px;
  height: 50px;
}
.lol_spells-spellButton9 {
  background-position: -0px -550px;
  width: 49px;
  height: 50px;
}
