
.MWO_icons {
  background-image: url('MWO_icons.png');
}

.MWO_icons-isheavy1 {
  background-position: -0px -0px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanassault1 {
  background-position: -0px -38px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanassault3 {
  background-position: -0px -76px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanassault4 {
  background-position: -0px -114px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanheavy1 {
  background-position: -0px -152px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanheavy2 {
  background-position: -0px -190px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanheavy3 {
  background-position: -0px -228px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanheavy4 {
  background-position: -0px -266px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanheavy5 {
  background-position: -0px -304px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanlight1 {
  background-position: -0px -342px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanlight2 {
  background-position: -0px -380px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanlight3 {
  background-position: -0px -418px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanlight4 {
  background-position: -0px -456px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanmed1 {
  background-position: -0px -494px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanmed2 {
  background-position: -0px -532px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanmed3 {
  background-position: -0px -570px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanmed4 {
  background-position: -0px -608px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault1 {
  background-position: -0px -646px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault2 {
  background-position: -0px -684px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault3 {
  background-position: -0px -722px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault4 {
  background-position: -0px -760px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault5 {
  background-position: -0px -798px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault6 {
  background-position: -0px -836px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault7 {
  background-position: -0px -874px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault8 {
  background-position: -0px -912px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isassault9 {
  background-position: -0px -950px;
  width: 30px;
  height: 38px;
}
.MWO_icons-clanassault2 {
  background-position: -0px -988px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy2 {
  background-position: -0px -1026px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy3 {
  background-position: -0px -1064px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy4 {
  background-position: -0px -1102px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy5 {
  background-position: -0px -1140px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy6 {
  background-position: -0px -1178px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy7 {
  background-position: -0px -1216px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy8 {
  background-position: -0px -1254px;
  width: 30px;
  height: 38px;
}
.MWO_icons-isheavy9 {
  background-position: -0px -1292px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight1 {
  background-position: -0px -1330px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight2 {
  background-position: -0px -1368px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight3 {
  background-position: -0px -1406px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight4 {
  background-position: -0px -1444px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight5 {
  background-position: -0px -1482px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight6 {
  background-position: -0px -1520px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight7 {
  background-position: -0px -1558px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight8 {
  background-position: -0px -1596px;
  width: 30px;
  height: 38px;
}
.MWO_icons-islight9 {
  background-position: -0px -1634px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed1 {
  background-position: -0px -1672px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed2 {
  background-position: -0px -1710px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed3 {
  background-position: -0px -1748px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed4 {
  background-position: -0px -1786px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed5 {
  background-position: -0px -1824px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed6 {
  background-position: -0px -1862px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed7 {
  background-position: -0px -1900px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed8 {
  background-position: -0px -1938px;
  width: 30px;
  height: 38px;
}
.MWO_icons-ismed9 {
  background-position: -0px -1976px;
  width: 30px;
  height: 38px;
}
