
.pubg_icons {
  background-image: url('./pubg_icons.png');
}

.pubg_icons-energy_drink {
  background-position: -0px -0px;
  width: 40px;
  height: 40px;
}
.pubg_icons-ammo_12Guage {
  background-position: -0px -40px;
  width: 40px;
  height: 40px;
}
.pubg_icons-ammo_45ACP {
  background-position: -0px -80px;
  width: 40px;
  height: 40px;
}
.pubg_icons-ammo_556mm {
  background-position: -0px -120px;
  width: 40px;
  height: 40px;
}
.pubg_icons-ammo_762mm {
  background-position: -0px -160px;
  width: 40px;
  height: 40px;
}
.pubg_icons-ammo_9mm {
  background-position: -0px -200px;
  width: 40px;
  height: 40px;
}
.pubg_icons-assault_rifle {
  background-position: -0px -240px;
  width: 40px;
  height: 40px;
}
.pubg_icons-backpack {
  background-position: -0px -280px;
  width: 40px;
  height: 40px;
}
.pubg_icons-bandage {
  background-position: -0px -320px;
  width: 40px;
  height: 40px;
}
.pubg_icons-boat {
  background-position: -0px -360px;
  width: 40px;
  height: 40px;
}
.pubg_icons-bycicle_helmet {
  background-position: -0px -400px;
  width: 40px;
  height: 40px;
}
.pubg_icons-car {
  background-position: -0px -440px;
  width: 40px;
  height: 40px;
}
.pubg_icons-carbine {
  background-position: -0px -480px;
  width: 40px;
  height: 40px;
}
.pubg_icons-crossbow {
  background-position: -0px -520px;
  width: 40px;
  height: 40px;
}
.pubg_icons-crowbar {
  background-position: -0px -560px;
  width: 40px;
  height: 40px;
}
.pubg_icons-ammo_300magnum {
  background-position: -0px -600px;
  width: 40px;
  height: 40px;
}
.pubg_icons-flashbang {
  background-position: -0px -640px;
  width: 40px;
  height: 40px;
}
.pubg_icons-frag_grenade {
  background-position: -0px -680px;
  width: 40px;
  height: 40px;
}
.pubg_icons-lmg {
  background-position: -0px -720px;
  width: 40px;
  height: 40px;
}
.pubg_icons-machete {
  background-position: -0px -760px;
  width: 40px;
  height: 40px;
}
.pubg_icons-marksman_rifle {
  background-position: -0px -800px;
  width: 40px;
  height: 40px;
}
.pubg_icons-pain_killer {
  background-position: -0px -840px;
  width: 40px;
  height: 40px;
}
.pubg_icons-pan {
  background-position: -0px -880px;
  width: 40px;
  height: 40px;
}
.pubg_icons-pistol {
  background-position: -0px -920px;
  width: 40px;
  height: 40px;
}
.pubg_icons-player {
  background-position: -0px -960px;
  width: 40px;
  height: 40px;
}
.pubg_icons-police_vest {
  background-position: -0px -1000px;
  width: 40px;
  height: 40px;
}
.pubg_icons-shotgun {
  background-position: -0px -1040px;
  width: 40px;
  height: 40px;
}
.pubg_icons-sickle {
  background-position: -0px -1080px;
  width: 40px;
  height: 40px;
}
.pubg_icons-smg {
  background-position: -0px -1120px;
  width: 40px;
  height: 40px;
}
.pubg_icons-smoke_grenade {
  background-position: -0px -1160px;
  width: 40px;
  height: 40px;
}
.pubg_icons-sniper {
  background-position: -0px -1200px;
  width: 40px;
  height: 40px;
}
