
.sc2_buildings_zerg {
  background-image: url('http://karellodewijk.github.io/sc2_buildings_zerg.png');
}

.sc2_buildings_zerg-btn-building-zerg-lair {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-banelingnest {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-evolutionchamber {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-extractor {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-greaterspire {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-hatchery {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-hive {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-hydraliskden {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-impalercolony {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-infestationpit {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-infestorpit {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-creeptumor {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-lurkerden {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-nydusnetwork {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-nydusworm {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-primalhive {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-roachwarren {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-spawningpool {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-spinecrawler {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-spire {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-sporecannon {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-sporecrawler {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_zerg-btn-building-zerg-ultraliskcavern {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
