
.sc2_upgrades_protoss {
  background-image: url('http://karellodewijk.github.io/sc2_upgrades_protoss.png');
}

.sc2_upgrades_protoss-btn-upgrade-protoss-groundarmorlevel1 {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-adeptshieldupgrade {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airarmorlevel1 {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airarmorlevel2 {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airarmorlevel3 {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airweaponslevel0 {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airweaponslevel1 {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airweaponslevel2 {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airweaponslevel3 {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-extendedthermallance {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-fluxvanes {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-graviticbooster {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-graviticdrive {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-gravitoncatapult {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundarmorlevel0 {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-airarmorlevel0 {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundarmorlevel2 {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundarmorlevel3 {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundweaponslevel0 {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundweaponslevel1 {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundweaponslevel2 {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-groundweaponslevel3 {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-khaydarinamulet {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-phoenixrange {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-researchbosoniccore {
  background-position: -0px -1200px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-researchgravitysling {
  background-position: -0px -1250px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-resonatingglaives {
  background-position: -0px -1300px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-shieldslevel0 {
  background-position: -0px -1350px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-shieldslevel1 {
  background-position: -0px -1400px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-shieldslevel2 {
  background-position: -0px -1450px;
  width: 50px;
  height: 50px;
}
.sc2_upgrades_protoss-btn-upgrade-protoss-shieldslevel3 {
  background-position: -0px -1500px;
  width: 50px;
  height: 50px;
}
