
.sc2_abilities_terran {
  background-image: url('sc2_abilities_terran.png');
}

.sc2_abilities_terran-btn-ability-terran-huntermissile-color {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-activatemine {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-battlefieldawareness {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-bombardmentstrike-color {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-calldownextrasupplies-color {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-cloak-color {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-deactivatemine {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-decloak-color {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-detectionconedebuff {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-dreadnought-aamode {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-dreadnought-agmode {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-electricfield {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-emergencythrusters {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-emp-color {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-haywiremissile {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-heal-color {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-hercules-tacticaljump {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-armnuke {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-ignorearmor {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-jetpack-color {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-liberator-aamode {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-liberator-agmode {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-lockon {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-nuclearstrike-color {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-perditionturret {
  background-position: -0px -1200px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-punishergrenade-color {
  background-position: -0px -1250px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-redlinereactor {
  background-position: -0px -1300px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-scannersweep-color {
  background-position: -0px -1350px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-snipe-color {
  background-position: -0px -1400px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-stimpack-color {
  background-position: -0px -1450px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-surfacetoairtargeting {
  background-position: -0px -1500px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-unstablepayload {
  background-position: -0px -1550px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-warpjump {
  background-position: -0px -1600px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_terran-btn-ability-terran-yamatogun-color {
  background-position: -0px -1650px;
  width: 50px;
  height: 50px;
}
