
.sc2_abilities_zerg {
  background-image: url('http://karellodewijk.github.io/sc2_abilities_zerg.png');
}

.sc2_abilities_zerg-btn-ability-zerg-frenzied-color {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-abduct {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-attackstructure-color {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-banelingspooge {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-blindingcloud {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-burrow-color {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-carrybiomass {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-cliffjump-baneling {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-cliffjump-zergling {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-consume {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-contaminate-color {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-corrosivebile {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-corrosiveblast {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-corruption-color {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-cosmicfury {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-creepspread {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-creepteleport {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-darkswarm {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-debilitatingbile {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-deeptunnel {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-dehakacliffjump {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-dehakaspawn {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-drag {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-explode-color {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-extinction {
  background-position: -0px -1200px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-armoraura {
  background-position: -0px -1250px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-fungalgrowth-color {
  background-position: -0px -1300px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-generatecreep-color {
  background-position: -0px -1350px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-generatecreepstop-color {
  background-position: -0px -1400px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-growth {
  background-position: -0px -1450px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-harvestcorpse {
  background-position: -0px -1500px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-neuralparasite-color {
  background-position: -0px -1550px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-noxiouscloud {
  background-position: -0px -1600px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-parasiticbomb {
  background-position: -0px -1650px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-parasiticinvasion {
  background-position: -0px -1700px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-poisonnova {
  background-position: -0px -1750px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-quantumray {
  background-position: -0px -1800px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-rapidregeneration-color {
  background-position: -0px -1850px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-regenaura {
  background-position: -0px -1900px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-root-color {
  background-position: -0px -1950px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-siphon {
  background-position: -0px -2000px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-swarmhost_root {
  background-position: -0px -2050px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-swarmhost_unroot {
  background-position: -0px -2100px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-swarmseeds-color {
  background-position: -0px -2150px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-towering {
  background-position: -0px -2200px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-transfusion-color {
  background-position: -0px -2250px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-ultralisk-revive {
  background-position: -0px -2300px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-upburrow-color {
  background-position: -0px -2350px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-uproot-color {
  background-position: -0px -2400px;
  width: 50px;
  height: 50px;
}
.sc2_abilities_zerg-btn-ability-zerg-viper-ocularparasite {
  background-position: -0px -2450px;
  width: 50px;
  height: 50px;
}
