
.sc2_buildings_terran {
  background-image: url('sc2_buildings_terran.png');
}

.sc2_buildings_terran-btn-building-terran-mercenaryport {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-armory {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-barracks {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-bunker {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-bunkerfortified {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-commandcenter {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-deepspacerelay {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-engineeringbay {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-factory {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-fusioncore {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-ghostacademy {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-merccompound {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-autoturret {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-missileturret {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-missileturrettitaniumhousing {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-planetaryfortress {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-reactor {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-refinery {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-sensordome {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-starport {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-supplydepot {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-supplydepotlowered {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-surveillancestation {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.sc2_buildings_terran-btn-building-terran-techlab {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
