
.sc2_units_protoss {
  background-image: url('sc2_units_protoss.png');
}

.sc2_units_protoss-btn-unit-protoss-mothership {
  background-position: -0px -0px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-adept-purifier {
  background-position: -0px -50px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-alarak {
  background-position: -0px -100px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-arbiter {
  background-position: -0px -150px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-archon-upgraded {
  background-position: -0px -200px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-archon {
  background-position: -0px -250px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-artanishero {
  background-position: -0px -300px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-carrier {
  background-position: -0px -350px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-carrierhero {
  background-position: -0px -400px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-colossus-purifier {
  background-position: -0px -450px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-colossus-taldarim {
  background-position: -0px -500px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-colossus-taldarimex3 {
  background-position: -0px -550px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-colossus {
  background-position: -0px -600px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-corsair {
  background-position: -0px -650px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-darkarchon {
  background-position: -0px -700px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-darktemplar-aiur {
  background-position: -0px -750px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-darktemplar-nerazim {
  background-position: -0px -800px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-darktemplar-taldarim {
  background-position: -0px -850px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-darktemplar {
  background-position: -0px -900px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-disruptor {
  background-position: -0px -950px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-dragoon-void {
  background-position: -0px -1000px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-fenix {
  background-position: -0px -1050px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-frigate {
  background-position: -0px -1100px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-hightemplar-taldarim {
  background-position: -0px -1150px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-hightemplar {
  background-position: -0px -1200px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-immortal-nerazim {
  background-position: -0px -1250px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-immortal-taldarim {
  background-position: -0px -1300px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-immortal {
  background-position: -0px -1350px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-interceptor {
  background-position: -0px -1400px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-karax {
  background-position: -0px -1450px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-khaydarinmonolith {
  background-position: -0px -1500px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-mothership-taldarim {
  background-position: -0px -1550px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-adept {
  background-position: -0px -1600px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-mothershipcore {
  background-position: -0px -1650px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-nullifier {
  background-position: -0px -1700px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-observer {
  background-position: -0px -1750px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-oracle {
  background-position: -0px -1800px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-phaseprism {
  background-position: -0px -1850px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-phaseprismstationary {
  background-position: -0px -1900px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-phoenix-purifier {
  background-position: -0px -1950px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-phoenix {
  background-position: -0px -2000px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-probe {
  background-position: -0px -2050px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-purifier {
  background-position: -0px -2100px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-reaver {
  background-position: -0px -2150px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-replicant {
  background-position: -0px -2200px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-sentry-purifier {
  background-position: -0px -2250px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-sentry-taldarim {
  background-position: -0px -2300px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-sentry {
  background-position: -0px -2350px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-stalker-purifier {
  background-position: -0px -2400px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-stalker {
  background-position: -0px -2450px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-stasisward {
  background-position: -0px -2500px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-tempest-purifier {
  background-position: -0px -2550px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-tempest {
  background-position: -0px -2600px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-voidray-hero {
  background-position: -0px -2650px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-voidray-nerazim {
  background-position: -0px -2700px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-voidray-taldarim {
  background-position: -0px -2750px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-vorazun {
  background-position: -0px -2800px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-warpprism {
  background-position: -0px -2850px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-warpprismstationary {
  background-position: -0px -2900px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-warpray {
  background-position: -0px -2950px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-zealot-aiur {
  background-position: -0px -3000px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-zealot-nerazim {
  background-position: -0px -3050px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-zealot-purifier {
  background-position: -0px -3100px;
  width: 50px;
  height: 50px;
}
.sc2_units_protoss-btn-unit-protoss-zealot {
  background-position: -0px -3150px;
  width: 50px;
  height: 50px;
}
