
.wot-icon-set2 {
  background-image: url('wot-icon-set2.png');
}

.wot-icon-set2-uk-GB24_Centurion_Mk3 {
  background-position: -0px -0px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-China-Ch24_Type64 {
  background-position: -0px -50px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-Lorraine_155_51 {
  background-position: -0px -100px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-UK-GB09_Churchill_VII {
  background-position: -0px -150px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-china-Ch01_Type59 {
  background-position: -0px -200px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-china-Ch02_Type62 {
  background-position: -0px -250px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-china-Ch03_WZ-111 {
  background-position: -0px -300px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-china-Ch04_T34_1 {
  background-position: -0px -350px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-china-Ch05_T34_2 {
  background-position: -0px -400px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-china-Ch06_Renault_NC31 {
  background-position: -0px -450px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-china-Ch07_Vickers_MkE_Type_BT26 {
  background-position: -0px -500px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-china-Ch08_Type97_Chi_Ha {
  background-position: -0px -550px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-china-Ch09_M5 {
  background-position: -0px -600px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-china-Ch10_IS2 {
  background-position: -0px -650px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-china-Ch11_110 {
  background-position: -0px -700px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-china-Ch11_110_IGR {
  background-position: -0px -750px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-china-Ch12_111_1_2_3 {
  background-position: -0px -800px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-china-Ch14_T34_3 {
  background-position: -0px -850px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-china-Ch15_59_16 {
  background-position: -0px -900px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-china-Ch16_WZ_131 {
  background-position: -0px -950px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-china-Ch17_WZ131_1_WZ132 {
  background-position: -0px -1000px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-china-Ch17_WZ131_1_WZ132_IGR {
  background-position: -0px -1050px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-china-Ch18_WZ-120 {
  background-position: -0px -1100px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-china-Ch19_121 {
  background-position: -0px -1150px;
  width: 150px;
  height: 50px;
}
.wot-icon-set2-china-Ch19_121_IGR {
  background-position: -0px -1200px;
  width: 150px;
  height: 50px;
}
.wot-icon-set2-china-Ch20_Type58 {
  background-position: -0px -1250px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-china-Ch21_T34 {
  background-position: -0px -1300px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-china-Ch22_113 {
  background-position: -0px -1350px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-china-Ch23_112 {
  background-position: -0px -1400px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-france-AMX38 {
  background-position: -0px -1450px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-france-AMX40 {
  background-position: -0px -1500px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-france-AMX50_Foch {
  background-position: -0px -1550px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_105AM {
  background-position: -0px -1600px;
  width: 96px;
  height: 50px;
}
.wot-icon-set2-france-AMX_12t {
  background-position: -0px -1650px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-france-AMX_13F3AM {
  background-position: -0px -1700px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-france-AMX_13_75 {
  background-position: -0px -1750px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-france-AMX_13_90 {
  background-position: -0px -1800px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-france-AMX_13_90_IGR {
  background-position: -0px -1850px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-france-AMX_50Fosh_155 {
  background-position: -0px -1900px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-france-AMX_50_100 {
  background-position: -0px -1950px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_50_100_IGR {
  background-position: -0px -2000px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_50_120 {
  background-position: -0px -2050px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_AC_Mle1946 {
  background-position: -0px -2100px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_AC_Mle1948 {
  background-position: -0px -2150px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_AC_Mle1948_IGR {
  background-position: -0px -2200px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_M4_1945 {
  background-position: -0px -2250px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-AMX_Ob_Am105 {
  background-position: -0px -2300px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-france-ARL_44 {
  background-position: -0px -2350px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-france-ARL_V39 {
  background-position: -0px -2400px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-france-B1 {
  background-position: -0px -2450px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-france-BDR_G1B {
  background-position: -0px -2500px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-france-Bat_Chatillon155_55 {
  background-position: -0px -2550px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-france-Bat_Chatillon155_58 {
  background-position: -0px -2600px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-france-Bat_Chatillon25t {
  background-position: -0px -2650px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-Bat_Chatillon25t_IGR {
  background-position: -0px -2700px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-D1 {
  background-position: -0px -2750px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-france-D2 {
  background-position: -0px -2800px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-france-ELC_AMX {
  background-position: -0px -2850px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-france-ELC_AMX_IGR {
  background-position: -0px -2900px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-france-F00_AMX_50Foch_155 {
  background-position: -0px -2950px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-france-F10_AMX_50B {
  background-position: -0px -3000px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-F68_AMX_Chasseur_de_char_46 {
  background-position: -0px -3050px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-france-F69_AMX13_57_100 {
  background-position: -0px -3100px;
  width: 109px;
  height: 50px;
}
.wot-icon-set2-france-FCM_36Pak40 {
  background-position: -0px -3150px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-france-FCM_50t {
  background-position: -0px -3200px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-Hotchkiss_H35 {
  background-position: -0px -3250px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-france-Lorraine155_50 {
  background-position: -0px -3300px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-france-Lorraine155_51 {
  background-position: -0px -3350px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-france-Lorraine39_L_AM {
  background-position: -0px -3400px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-france-Lorraine40t {
  background-position: -0px -3450px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-RenaultBS {
  background-position: -0px -3500px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-france-RenaultFT {
  background-position: -0px -3550px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-france-RenaultFT_AC {
  background-position: -0px -3600px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-france-RenaultUE57 {
  background-position: -0px -3650px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-france-S_35CA {
  background-position: -0px -3700px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-france-S_35CA_IGR {
  background-position: -0px -3750px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-france-Somua_Sau_40 {
  background-position: -0px -3800px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-france-_105_leFH18B2 {
  background-position: -0px -3850px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-france-_105_leFH18B2_IGR {
  background-position: -0px -3900px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-Auf_Panther {
  background-position: -0px -3950px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-germany-B-1bis_captured {
  background-position: -0px -4000px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-Bison_I {
  background-position: -0px -4050px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-germany-DW_II {
  background-position: -0px -4100px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-germany-DickerMax {
  background-position: -0px -4150px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-E-100 {
  background-position: -0px -4200px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-germany-E-25 {
  background-position: -0px -4250px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-germany-E-25_IGR {
  background-position: -0px -4300px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-germany-E-50 {
  background-position: -0px -4350px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-E-75 {
  background-position: -0px -4400px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-E50_Ausf_M {
  background-position: -0px -4450px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-germany-Ferdinand {
  background-position: -0px -4500px;
  width: 116px;
  height: 50px;
}
.wot-icon-set2-germany-Ferdinand_IGR {
  background-position: -0px -4550px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-germany-G04_PzVI_Tiger_IA {
  background-position: -0px -4600px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-germany-G100_Gtraktor_Krupp {
  background-position: -0px -4650px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-germany-G101_StuG_III {
  background-position: -0px -4700px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-germany-G103_RU_251 {
  background-position: -0px -4750px;
  width: 143px;
  height: 50px;
}
.wot-icon-set2-germany-G104_Stug_IV {
  background-position: -0px -4800px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-germany-G105_T-55_NVA_DDR {
  background-position: -0px -4850px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-G106_PzKpfwPanther_AusfF {
  background-position: -0px -4900px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-germany-G107_PzKpfwIII_AusfK {
  background-position: -0px -4950px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-germany-G108_PzKpfwII_AusfD {
  background-position: -0px -5000px;
  width: 111px;
  height: 50px;
}
.wot-icon-set2-germany-G20_Marder_II {
  background-position: -0px -5050px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-GW_Mk_VIe {
  background-position: -0px -5100px;
  width: 92px;
  height: 50px;
}
.wot-icon-set2-germany-GW_Tiger_P {
  background-position: -0px -5150px;
  width: 175px;
  height: 50px;
}
.wot-icon-set2-germany-G_E {
  background-position: -0px -5200px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-G_Panther {
  background-position: -0px -5250px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-G_Tiger {
  background-position: -0px -5300px;
  width: 175px;
  height: 50px;
}
.wot-icon-set2-germany-Grille {
  background-position: -0px -5350px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-germany-H39_captured {
  background-position: -0px -5400px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-germany-Hetzer {
  background-position: -0px -5450px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-germany-Hummel {
  background-position: -0px -5500px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-Indien_Panzer {
  background-position: -0px -5550px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-JagdPanther {
  background-position: -0px -5600px;
  width: 141px;
  height: 50px;
}
.wot-icon-set2-germany-JagdPantherII {
  background-position: -0px -5650px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-JagdPzIV {
  background-position: -0px -5700px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-germany-JagdPz_E100 {
  background-position: -0px -5750px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-JagdTiger {
  background-position: -0px -5800px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-germany-JagdTiger_SdKfz_185 {
  background-position: -0px -5850px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-JagdTiger_SdKfz_185_IGR {
  background-position: -0px -5900px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-Karl {
  background-position: -0px -5950px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-germany-Leopard1 {
  background-position: -0px -6000px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-germany-Lowe {
  background-position: -0px -6050px;
  width: 163px;
  height: 50px;
}
.wot-icon-set2-germany-Ltraktor {
  background-position: -0px -6100px;
  width: 102px;
  height: 50px;
}
.wot-icon-set2-germany-Marder_III {
  background-position: -0px -6150px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-germany-Maus {
  background-position: -0px -6200px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-germany-Maus_IGR {
  background-position: -0px -6250px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-germany-Nashorn {
  background-position: -0px -6300px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-Panther_II {
  background-position: -0px -6350px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-Panther_II_IGR {
  background-position: -0px -6400px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-Panther_M10 {
  background-position: -0px -6450px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-germany-PanzerJager_I {
  background-position: -0px -6500px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-germany-Pro_Ag_A {
  background-position: -0px -6550px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-germany-Pz35t {
  background-position: -0px -6600px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-germany-Pz38_NA {
  background-position: -0px -6650px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-germany-Pz38t {
  background-position: -0px -6700px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-PzI {
  background-position: -0px -6750px;
  width: 100px;
  height: 50px;
}
.wot-icon-set2-germany-PzII {
  background-position: -0px -6800px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-germany-PzIII {
  background-position: -0px -6850px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-PzIII_A {
  background-position: -0px -6900px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-germany-PzIII_AusfJ {
  background-position: -0px -6950px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-PzIII_IV {
  background-position: -0px -7000px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-germany-PzIII_training {
  background-position: -0px -7050px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-PzII_J {
  background-position: -0px -7100px;
  width: 102px;
  height: 50px;
}
.wot-icon-set2-germany-PzII_Luchs {
  background-position: -0px -7150px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-germany-PzIV {
  background-position: -0px -7200px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-germany-PzIV_Hydro {
  background-position: -0px -7250px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-PzIV_schmalturm {
  background-position: -0px -7300px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-germany-PzI_ausf_C {
  background-position: -0px -7350px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-germany-PzV {
  background-position: -0px -7400px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-PzVI {
  background-position: -0px -7450px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-germany-PzVIB_Tiger_II {
  background-position: -0px -7500px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-germany-PzVIB_Tiger_II_IGR {
  background-position: -0px -7550px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-germany-PzVIB_Tiger_II_training {
  background-position: -0px -7600px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-germany-PzVI_IGR {
  background-position: -0px -7650px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-germany-PzVI_Tiger_P {
  background-position: -0px -7700px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-PzV_IGR {
  background-position: -0px -7750px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-PzV_PzIV {
  background-position: -0px -7800px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-germany-PzV_PzIV_ausf_Alfa {
  background-position: -0px -7850px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-germany-PzV_training {
  background-position: -0px -7900px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_II_AusfG {
  background-position: -0px -7950px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_IV_AusfA {
  background-position: -0px -8000px;
  width: 124px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_IV_AusfD {
  background-position: -0px -8050px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_IV_AusfGH {
  background-position: -0px -8100px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_IV_AusfH {
  background-position: -0px -8150px;
  width: 128px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_Sfl_IVb {
  background-position: -0px -8200px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-germany-Pz_Sfl_IVc {
  background-position: -0px -8250px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-germany-R105_T55_Nva_Ddr {
  background-position: -0px -8300px;
  width: 143px;
  height: 50px;
}
.wot-icon-set2-germany-RhB_Waffentrager {
  background-position: -0px -8350px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-S35_captured {
  background-position: -0px -8400px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-germany-StuG_40_AusfG {
  background-position: -0px -8450px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-germany-StuG_40_AusfG_IGR {
  background-position: -0px -8500px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-germany-StugIII {
  background-position: -0px -8550px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-germany-Sturer_Emil {
  background-position: -0px -8600px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-germany-Sturmpanzer_II {
  background-position: -0px -8650px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-germany-T-15 {
  background-position: -0px -8700px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-T-25 {
  background-position: -0px -8750px;
  width: 158px;
  height: 50px;
}
.wot-icon-set2-germany-VK1602 {
  background-position: -0px -8800px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-germany-VK2001DB {
  background-position: -0px -8850px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-germany-VK2801 {
  background-position: -0px -8900px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-germany-VK3001H {
  background-position: -0px -8950px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-germany-VK3001P {
  background-position: -0px -9000px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-germany-VK3002DB {
  background-position: -0px -9050px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-germany-VK3002DB_V1 {
  background-position: -0px -9100px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-VK3002M {
  background-position: -0px -9150px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-VK3601H {
  background-position: -0px -9200px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-germany-VK4502A {
  background-position: -0px -9250px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-germany-VK4502P {
  background-position: -0px -9300px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-germany-VK7201 {
  background-position: -0px -9350px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-germany-Waffentrager_E100 {
  background-position: -0px -9400px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-germany-Waffentrager_IV {
  background-position: -0px -9450px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-germany-Wespe {
  background-position: -0px -9500px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-germany_E50_Ausf {
  background-position: -0px -9550px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-germany_G104_Stug_IV {
  background-position: -0px -9600px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_Ha {
  background-position: -0px -9650px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_He {
  background-position: -0px -9700px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_Ni {
  background-position: -0px -9750px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_Nu {
  background-position: -0px -9800px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_Nu_Kai {
  background-position: -0px -9850px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_Ri {
  background-position: -0px -9900px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_Ri_IGR {
  background-position: -0px -9950px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-japan-Chi_To {
  background-position: -0px -10000px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-japan-Ha_go {
  background-position: -0px -10050px;
  width: 98px;
  height: 50px;
}
.wot-icon-set2-japan-J18_STA_2_3 {
  background-position: -0px -10100px;
  width: 143px;
  height: 50px;
}
.wot-icon-set2-japan-Ke_Ho {
  background-position: -0px -10150px;
  width: 98px;
  height: 50px;
}
.wot-icon-set2-japan-Ke_Ni {
  background-position: -0px -10200px;
  width: 94px;
  height: 50px;
}
.wot-icon-set2-japan-Ke_Ni_B {
  background-position: -0px -10250px;
  width: 96px;
  height: 50px;
}
.wot-icon-set2-japan-NC27 {
  background-position: -0px -10300px;
  width: 98px;
  height: 50px;
}
.wot-icon-set2-japan-STA_1 {
  background-position: -0px -10350px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-japan-STA_1_IGR {
  background-position: -0px -10400px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-japan-ST_B1 {
  background-position: -0px -10450px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-japan-ST_B1_IGR {
  background-position: -0px -10500px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-japan-Te_Ke {
  background-position: -0px -10550px;
  width: 91px;
  height: 50px;
}
.wot-icon-set2-japan-Type_61 {
  background-position: -0px -10600px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-noImage {
  background-position: -0px -10650px;
  width: 148px;
  height: 50px;
}
.wot-icon-set2-uk-GB01_Medium_Mark_I {
  background-position: -0px -10700px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-uk-GB03_Cruiser_Mk_I {
  background-position: -0px -10750px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-uk-GB04_Valentine {
  background-position: -0px -10800px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-uk-GB05_Vickers_Medium_Mk_II {
  background-position: -0px -10850px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-uk-GB06_Vickers_Medium_Mk_III {
  background-position: -0px -10900px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-uk-GB07_Matilda {
  background-position: -0px -10950px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-uk-GB08_Churchill_I {
  background-position: -0px -11000px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-uk-GB08_Churchill_I_IGR {
  background-position: -0px -11050px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-uk-GB10_Black_Prince {
  background-position: -0px -11100px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-uk-GB11_Caernarvon {
  background-position: -0px -11150px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-uk-GB11_Caernarvon_IGR {
  background-position: -0px -11200px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-uk-GB12_Conqueror {
  background-position: -0px -11250px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-uk-GB13_FV215b {
  background-position: -0px -11300px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-uk-GB13_FV215b_IGR {
  background-position: -0px -11350px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-uk-GB14_M2 {
  background-position: -0px -11400px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-uk-GB15_Stuart_I {
  background-position: -0px -11450px;
  width: 100px;
  height: 50px;
}
.wot-icon-set2-uk-GB17_Grant_I {
  background-position: -0px -11500px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-uk-GB19_Sherman_Firefly {
  background-position: -0px -11550px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-uk-GB20_Crusader {
  background-position: -0px -11600px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-uk-GB21_Cromwell {
  background-position: -0px -11650px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-uk-GB21_Cromwell_IGR {
  background-position: -0px -11700px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-uk-GB22_Comet {
  background-position: -0px -11750px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-uk-GB23_Centurion {
  background-position: -0px -11800px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-uk-GB23_Centurion_IGR {
  background-position: -0px -11850px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-Lorraine155_50 {
  background-position: -0px -11900px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-uk-GB25_Loyd_Carrier {
  background-position: -0px -11950px;
  width: 94px;
  height: 50px;
}
.wot-icon-set2-uk-GB26_Birch_Gun {
  background-position: -0px -12000px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-uk-GB27_Sexton {
  background-position: -0px -12050px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-uk-GB28_Bishop {
  background-position: -0px -12100px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-uk-GB29_Crusader_5inch {
  background-position: -0px -12150px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-uk-GB30_FV3805 {
  background-position: -0px -12200px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-uk-GB31_Conqueror_Gun {
  background-position: -0px -12250px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-uk-GB32_Tortoise {
  background-position: -0px -12300px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-uk-GB39_Universal_CarrierQF2 {
  background-position: -0px -12350px;
  width: 102px;
  height: 50px;
}
.wot-icon-set2-uk-GB40_Gun_Carrier_Churchill {
  background-position: -0px -12400px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-uk-GB41_Challenger {
  background-position: -0px -12450px;
  width: 137px;
  height: 50px;
}
.wot-icon-set2-uk-GB42_Valentine_AT {
  background-position: -0px -12500px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-uk-GB44_Archer {
  background-position: -0px -12550px;
  width: 124px;
  height: 50px;
}
.wot-icon-set2-uk-GB45_Achilles_IIC {
  background-position: -0px -12600px;
  width: 118px;
  height: 50px;
}
.wot-icon-set2-uk-GB48_FV215b_183 {
  background-position: -0px -12650px;
  width: 150px;
  height: 50px;
}
.wot-icon-set2-uk-GB50_Sherman_III {
  background-position: -0px -12700px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-uk-GB51_Excelsior {
  background-position: -0px -12750px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-uk-GB57_Alecto {
  background-position: -0px -12800px;
  width: 102px;
  height: 50px;
}
.wot-icon-set2-uk-GB58_Cruiser_Mk_III {
  background-position: -0px -12850px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-uk-GB59_Cruiser_Mk_IV {
  background-position: -0px -12900px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-uk-GB60_Covenanter {
  background-position: -0px -12950px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-uk-GB63_TOG_II {
  background-position: -0px -13000px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-uk-GB68_Matilda_Black_Prince {
  background-position: -0px -13050px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-uk-GB69_Cruiser_Mk_II {
  background-position: -0px -13100px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-uk-GB70_FV4202_105 {
  background-position: -0px -13150px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-uk-GB70_N_FV4202_105 {
  background-position: -0px -13200px;
  width: 139px;
  height: 50px;
}
.wot-icon-set2-uk-GB71_AT_15A {
  background-position: -0px -13250px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-uk-GB72_AT15 {
  background-position: -0px -13300px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-uk-GB72_AT15_IGR {
  background-position: -0px -13350px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-uk-GB73_AT2 {
  background-position: -0px -13400px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-uk-GB74_AT8 {
  background-position: -0px -13450px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-uk-GB75_AT7 {
  background-position: -0px -13500px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-uk-GB76_Mk_VIC {
  background-position: -0px -13550px;
  width: 96px;
  height: 50px;
}
.wot-icon-set2-uk-GB77_FV304 {
  background-position: -0px -13600px;
  width: 94px;
  height: 50px;
}
.wot-icon-set2-uk-GB77_FV304_IGR {
  background-position: -0px -13650px;
  width: 94px;
  height: 50px;
}
.wot-icon-set2-uk-GB78_Sexton_I {
  background-position: -0px -13700px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-uk-GB79_FV206 {
  background-position: -0px -13750px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-uk-GB80_Charioteer {
  background-position: -0px -13800px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-uk-GB81_FV4004 {
  background-position: -0px -13850px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-uk-GB83_FV4005 {
  background-position: -0px -13900px;
  width: 143px;
  height: 50px;
}
.wot-icon-set2-unknown-unknown {
  background-position: -0px -13950px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-unknown {
  background-position: -0px -14000px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-A00_T110E5 {
  background-position: -0px -14050px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-usa-A101_M56 {
  background-position: -0px -14100px;
  width: 98px;
  height: 50px;
}
.wot-icon-set2-usa-A102_T28_concept {
  background-position: -0px -14150px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-usa-A104_M4A3E8A {
  background-position: -0px -14200px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-usa-A78_M4_Improved {
  background-position: -0px -14250px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-A94_T37 {
  background-position: -0px -14300px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-usa-M103 {
  background-position: -0px -14350px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-M10_Wolverine {
  background-position: -0px -14400px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-usa-M12 {
  background-position: -0px -14450px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-usa-M18_Hellcat {
  background-position: -0px -14500px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-usa-M22_Locust {
  background-position: -0px -14550px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-usa-M24_Chaffee {
  background-position: -0px -14600px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-usa-M24_Chaffee_GT {
  background-position: -0px -14650px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-usa-M2_lt {
  background-position: -0px -14700px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-usa-M2_med {
  background-position: -0px -14750px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-usa-M36_Slagger {
  background-position: -0px -14800px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-usa-M37 {
  background-position: -0px -14850px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-usa-M3_Grant {
  background-position: -0px -14900px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-usa-M3_Stuart {
  background-position: -0px -14950px;
  width: 100px;
  height: 50px;
}
.wot-icon-set2-usa-M40M43 {
  background-position: -0px -15000px;
  width: 148px;
  height: 50px;
}
.wot-icon-set2-usa-M41 {
  background-position: -0px -15050px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-usa-M41_Bulldog {
  background-position: -0px -15100px;
  width: 126px;
  height: 50px;
}
.wot-icon-set2-usa-M44 {
  background-position: -0px -15150px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-usa-M46_Patton {
  background-position: -0px -15200px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-M48A1 {
  background-position: -0px -15250px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-usa-M48A1_IGR {
  background-position: -0px -15300px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-usa-M4A2E4 {
  background-position: -0px -15350px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-usa-M4A3E8_Sherman {
  background-position: -0px -15400px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-usa-M4_Sherman {
  background-position: -0px -15450px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-usa-M4_Sherman_IGR {
  background-position: -0px -15500px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-usa-M53_55 {
  background-position: -0px -15550px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-usa-M5_Stuart {
  background-position: -0px -15600px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-usa-M6 {
  background-position: -0px -15650px;
  width: 150px;
  height: 50px;
}
.wot-icon-set2-usa-M60 {
  background-position: -0px -15700px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-usa-M6A2E1 {
  background-position: -0px -15750px;
  width: 160px;
  height: 50px;
}
.wot-icon-set2-usa-M7_Priest {
  background-position: -0px -15800px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-M7_med {
  background-position: -0px -15850px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-usa-M8A1 {
  background-position: -0px -15900px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-usa-MTLS-1G14 {
  background-position: -0px -15950px;
  width: 104px;
  height: 50px;
}
.wot-icon-set2-usa-Pershing {
  background-position: -0px -16000px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-Pershing_IGR {
  background-position: -0px -16050px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-Ram-II {
  background-position: -0px -16100px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-usa-Sherman_Jumbo {
  background-position: -0px -16150px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-usa-Sherman_Jumbo_IGR {
  background-position: -0px -16200px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-usa-T110 {
  background-position: -0px -16250px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-usa-T110E3 {
  background-position: -0px -16300px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-usa-T110E4 {
  background-position: -0px -16350px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-usa-T14 {
  background-position: -0px -16400px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-usa-T18 {
  background-position: -0px -16450px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-usa-T1_Cunningham {
  background-position: -0px -16500px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-usa-T1_E6 {
  background-position: -0px -16550px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-usa-T1_hvy {
  background-position: -0px -16600px;
  width: 144px;
  height: 50px;
}
.wot-icon-set2-usa-T20 {
  background-position: -0px -16650px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-usa-T21 {
  background-position: -0px -16700px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-usa-T23E3 {
  background-position: -0px -16750px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-usa-T25_2 {
  background-position: -0px -16800px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-usa-T25_AT {
  background-position: -0px -16850px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-usa-T26_E4_SuperPershing {
  background-position: -0px -16900px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-usa-T28 {
  background-position: -0px -16950px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-T28_Prototype {
  background-position: -0px -17000px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-T29 {
  background-position: -0px -17050px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-usa-T29_IGR {
  background-position: -0px -17100px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-usa-T2_lt {
  background-position: -0px -17150px;
  width: 102px;
  height: 50px;
}
.wot-icon-set2-usa-T2_med {
  background-position: -0px -17200px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-usa-T30 {
  background-position: -0px -17250px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-usa-T32 {
  background-position: -0px -17300px;
  width: 148px;
  height: 50px;
}
.wot-icon-set2-usa-T34_hvy {
  background-position: -0px -17350px;
  width: 163px;
  height: 50px;
}
.wot-icon-set2-usa-T34_hvy_IGR {
  background-position: -0px -17400px;
  width: 163px;
  height: 50px;
}
.wot-icon-set2-usa-T37 {
  background-position: -0px -17450px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-usa-T40 {
  background-position: -0px -17500px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-usa-T49 {
  background-position: -0px -17550px;
  width: 122px;
  height: 50px;
}
.wot-icon-set2-usa-T54E1 {
  background-position: -0px -17600px;
  width: 156px;
  height: 50px;
}
.wot-icon-set2-usa-T57 {
  background-position: -0px -17650px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-usa-T57_58 {
  background-position: -0px -17700px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-usa-T67 {
  background-position: -0px -17750px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-T67_IGR {
  background-position: -0px -17800px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-T69 {
  background-position: -0px -17850px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-T69_IGR {
  background-position: -0px -17900px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-usa-T71 {
  background-position: -0px -17950px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-usa-T71_IGR {
  background-position: -0px -18000px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-usa-T7_Combat_Car {
  background-position: -0px -18050px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-usa-T82 {
  background-position: -0px -18100px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-usa-T92 {
  background-position: -0px -18150px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-usa-T95 {
  background-position: -0px -18200px;
  width: 116px;
  height: 50px;
}
.wot-icon-set2-usa-T95_E2 {
  background-position: -0px -18250px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-usa-T95_E6 {
  background-position: -0px -18300px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-usa_A102_T28_concept {
  background-position: -0px -18350px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-ussr-62A {
  background-position: -0px -18400px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-ussr-A-20 {
  background-position: -0px -18450px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-ussr-A-32 {
  background-position: -0px -18500px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-ussr-A43 {
  background-position: -0px -18550px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-ussr-A44 {
  background-position: -0px -18600px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-ussr-AT-1 {
  background-position: -0px -18650px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-ussr-BT-2 {
  background-position: -0px -18700px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-ussr-BT-7 {
  background-position: -0px -18750px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-ussr-BT-SV {
  background-position: -0px -18800px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-ussr-Churchill_LL {
  background-position: -0px -18850px;
  width: 142px;
  height: 50px;
}
.wot-icon-set2-ussr-GAZ-74b {
  background-position: -0px -18900px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-ussr-IS-3 {
  background-position: -0px -18950px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-ussr-IS-3_IGR {
  background-position: -0px -19000px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-ussr-IS-4 {
  background-position: -0px -19050px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-IS-7 {
  background-position: -0px -19100px;
  width: 159px;
  height: 50px;
}
.wot-icon-set2-ussr-IS-7_IGR {
  background-position: -0px -19150px;
  width: 159px;
  height: 50px;
}
.wot-icon-set2-ussr-IS {
  background-position: -0px -19200px;
  width: 125px;
  height: 50px;
}
.wot-icon-set2-ussr-IS8 {
  background-position: -0px -19250px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-ISU-152 {
  background-position: -0px -19300px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-ussr-ISU-152_IGR {
  background-position: -0px -19350px;
  width: 160px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-13 {
  background-position: -0px -19400px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-1s {
  background-position: -0px -19450px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-220 {
  background-position: -0px -19500px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-220_action {
  background-position: -0px -19550px;
  width: 152px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-3 {
  background-position: -0px -19600px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-5 {
  background-position: -0px -19650px;
  width: 173px;
  height: 50px;
}
.wot-icon-set2-ussr-KV-5_IGR {
  background-position: -0px -19700px;
  width: 173px;
  height: 50px;
}
.wot-icon-set2-ussr-KV {
  background-position: -0px -19750px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-KV1 {
  background-position: -0px -19800px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-KV2 {
  background-position: -0px -19850px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-KV2_IGR {
  background-position: -0px -19900px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-KV4 {
  background-position: -0px -19950px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-LTP {
  background-position: -0px -20000px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-ussr-M3_Stuart_LL {
  background-position: -0px -20050px;
  width: 102px;
  height: 50px;
}
.wot-icon-set2-ussr-MS-1 {
  background-position: -0px -20100px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-ussr-MT25 {
  background-position: -0px -20150px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-ussr-Matilda_II_LL {
  background-position: -0px -20200px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-ussr-Object252 {
  background-position: -0px -20250px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-ussr-Object263 {
  background-position: -0px -20300px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-Object268 {
  background-position: -0px -20350px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-ussr-Object416 {
  background-position: -0px -20400px;
  width: 143px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_140 {
  background-position: -0px -20450px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_212 {
  background-position: -0px -20500px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_260 {
  background-position: -0px -20550px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_261 {
  background-position: -0px -20600px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_430 {
  background-position: -0px -20650px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_704 {
  background-position: -0px -20700px;
  width: 173px;
  height: 50px;
}
.wot-icon-set2-ussr-Object_907 {
  background-position: -0px -20750px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-ussr-Observer {
  background-position: -0px -20800px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-ussr-R00_T_50_2 {
  background-position: -0px -20850px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-ussr-R04_T-34 {
  background-position: -0px -20900px;
  width: 128px;
  height: 50px;
}
.wot-icon-set2-ussr-R104_Object_430_II {
  background-position: -0px -20950px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-R106_KV85 {
  background-position: -0px -21000px;
  width: 130px;
  height: 50px;
}
.wot-icon-set2-ussr-R106_KV85_IGR {
  background-position: -0px -21050px;
  width: 130px;
  height: 50px;
}
.wot-icon-set2-ussr-R107_LTB {
  background-position: -0px -21100px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-R108_T34_85M {
  background-position: -0px -21150px;
  width: 126px;
  height: 50px;
}
.wot-icon-set2-ussr-R109_T54S {
  background-position: -0px -21200px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-ussr-R110_Object_260 {
  background-position: -0px -21250px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-R111_ISU130 {
  background-position: -0px -21300px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-R112_T54_45 {
  background-position: -0px -21350px;
  width: 123px;
  height: 50px;
}
.wot-icon-set2-ussr-R113_Object_730 {
  background-position: -0px -21400px;
  width: 131px;
  height: 50px;
}
.wot-icon-set2-ussr-R53_Object_704 {
  background-position: -0px -21450px;
  width: 173px;
  height: 50px;
}
.wot-icon-set2-ussr-R80_KV1 {
  background-position: -0px -21500px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-R98_T44_85 {
  background-position: -0px -21550px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-ussr-S-51 {
  background-position: -0px -21600px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-ussr-ST_I {
  background-position: -0px -21650px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-100 {
  background-position: -0px -21700px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-101 {
  background-position: -0px -21750px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-14 {
  background-position: -0px -21800px;
  width: 138px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-152 {
  background-position: -0px -21850px;
  width: 160px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-152_IGR {
  background-position: -0px -21900px;
  width: 160px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-18 {
  background-position: -0px -21950px;
  width: 113px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-26 {
  background-position: -0px -22000px;
  width: 100px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-5 {
  background-position: -0px -22050px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-76 {
  background-position: -0px -22100px;
  width: 121px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-8 {
  background-position: -0px -22150px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-SU-85 {
  background-position: -0px -22200px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-ussr-SU100M1 {
  background-position: -0px -22250px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-SU100Y {
  background-position: -0px -22300px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-ussr-SU101 {
  background-position: -0px -22350px;
  width: 135px;
  height: 50px;
}
.wot-icon-set2-ussr-SU122A {
  background-position: -0px -22400px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-ussr-SU122_44 {
  background-position: -0px -22450px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-ussr-SU122_54 {
  background-position: -0px -22500px;
  width: 167px;
  height: 50px;
}
.wot-icon-set2-ussr-SU14_1 {
  background-position: -0px -22550px;
  width: 140px;
  height: 50px;
}
.wot-icon-set2-ussr-SU76I {
  background-position: -0px -22600px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-SU_85I {
  background-position: -0px -22650px;
  width: 146px;
  height: 50px;
}
.wot-icon-set2-ussr-T-127 {
  background-position: -0px -22700px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-ussr-T-26 {
  background-position: -0px -22750px;
  width: 106px;
  height: 50px;
}
.wot-icon-set2-ussr-T-28 {
  background-position: -0px -22800px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-T-34-85 {
  background-position: -0px -22850px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-ussr-T-34 {
  background-position: -0px -22900px;
  width: 128px;
  height: 50px;
}
.wot-icon-set2-ussr-T-43 {
  background-position: -0px -22950px;
  width: 115px;
  height: 50px;
}
.wot-icon-set2-ussr-T-44 {
  background-position: -0px -23000px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-T-44_IGR {
  background-position: -0px -23050px;
  width: 133px;
  height: 50px;
}
.wot-icon-set2-ussr-T-46 {
  background-position: -0px -23100px;
  width: 108px;
  height: 50px;
}
.wot-icon-set2-ussr-T-50 {
  background-position: -0px -23150px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-ussr-T-54 {
  background-position: -0px -23200px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-ussr-T-60 {
  background-position: -0px -23250px;
  width: 96px;
  height: 50px;
}
.wot-icon-set2-ussr-T-70 {
  background-position: -0px -23300px;
  width: 98px;
  height: 50px;
}
.wot-icon-set2-ussr-T150 {
  background-position: -0px -23350px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-ussr-T44_122 {
  background-position: -0px -23400px;
  width: 119px;
  height: 50px;
}
.wot-icon-set2-ussr-T44_85 {
  background-position: -0px -23450px;
  width: 117px;
  height: 50px;
}
.wot-icon-set2-ussr-T62A {
  background-position: -0px -23500px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-ussr-T62A_sport {
  background-position: -0px -23550px;
  width: 154px;
  height: 50px;
}
.wot-icon-set2-ussr-T80 {
  background-position: -0px -23600px;
  width: 96px;
  height: 50px;
}
.wot-icon-set2-ussr-T_50_2 {
  background-position: -0px -23650px;
  width: 127px;
  height: 50px;
}
.wot-icon-set2-ussr-Tetrarch_LL {
  background-position: -0px -23700px;
  width: 110px;
  height: 50px;
}
.wot-icon-set2-ussr-Valentine_LL {
  background-position: -0px -23750px;
  width: 129px;
  height: 50px;
}
.wot-icon-set2-ussr-Valentine_LL_IGR {
  background-position: -0px -23800px;
  width: 129px;
  height: 50px;
}
