
.wot-icon-set3 {
  background-image: url('http://karellodewijk.github.io/wot-icon-set3.png');
}

.wot-icon-set3-uk-GB21_Cromwell {
  background-position: -0px -0px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch01_Type59 {
  background-position: -0px -25px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch03_WZ-111 {
  background-position: -0px -50px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch04_T34_1 {
  background-position: -0px -75px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch05_T34_2 {
  background-position: -0px -100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch06_Renault_NC31 {
  background-position: -0px -125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch06_Renault_NC31_bot {
  background-position: -0px -150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch07_Vickers_MkE_Type_BT26 {
  background-position: -0px -175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch08_Type97_Chi_Ha {
  background-position: -0px -200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch09_M5 {
  background-position: -0px -225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch10_IS2 {
  background-position: -0px -250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch11_110 {
  background-position: -0px -275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch12_111_1_2_3 {
  background-position: -0px -300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch14_T34_3 {
  background-position: -0px -325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch15_59_16 {
  background-position: -0px -350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch16_WZ_131 {
  background-position: -0px -375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch17_WZ131_1_WZ132 {
  background-position: -0px -400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch18_WZ-120 {
  background-position: -0px -425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch19_121 {
  background-position: -0px -450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch20_Type58 {
  background-position: -0px -475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch21_T34 {
  background-position: -0px -500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch22_113 {
  background-position: -0px -525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch23_112 {
  background-position: -0px -550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch24_Type64 {
  background-position: -0px -575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch25_121_mod_1971B {
  background-position: -0px -600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch26_59_Patton {
  background-position: -0px -625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz01_Skoda_T40 {
  background-position: -0px -650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz02_TVP_T50 {
  background-position: -0px -675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz03_LT_vz35 {
  background-position: -0px -700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz04_T50_51 {
  background-position: -0px -725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz05_T34_100 {
  background-position: -0px -750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz06_Kolohousenka {
  background-position: -0px -775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz07_TVP_46 {
  background-position: -0px -800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz08_T_25 {
  background-position: -0px -825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz09_T_24 {
  background-position: -0px -850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz10_LT_vz38 {
  background-position: -0px -875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-czech-Cz11_V_8_H {
  background-position: -0px -900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX38 {
  background-position: -0px -925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX40 {
  background-position: -0px -950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX50_Foch {
  background-position: -0px -975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_105AM {
  background-position: -0px -1000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_13F3AM {
  background-position: -0px -1025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_13_75 {
  background-position: -0px -1050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_13_90 {
  background-position: -0px -1075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_50Fosh_155 {
  background-position: -0px -1100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_AC_Mle1948 {
  background-position: -0px -1125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-AMX_Ob_Am105 {
  background-position: -0px -1150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-ARL_V39 {
  background-position: -0px -1175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-B1 {
  background-position: -0px -1200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-BDR_G1B {
  background-position: -0px -1225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Bat_Chatillon155_55 {
  background-position: -0px -1250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Bat_Chatillon155_58 {
  background-position: -0px -1275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Bat_Chatillon25t {
  background-position: -0px -1300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-D1 {
  background-position: -0px -1325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-D2 {
  background-position: -0px -1350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-ELC_AMX {
  background-position: -0px -1375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F06_ARL_44 {
  background-position: -0px -1400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F07_AMX_M4_1945 {
  background-position: -0px -1425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F08_AMX_50_100 {
  background-position: -0px -1450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F09_AMX_50_120 {
  background-position: -0px -1475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F10_AMX_50B {
  background-position: -0px -1500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F10_AMX_50B_fallout {
  background-position: -0px -1525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F11_Renault_G1R {
  background-position: -0px -1550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F15_AMX_12t {
  background-position: -0px -1575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F28_105_leFH18B2 {
  background-position: -0px -1600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F28_105_leFH18B2_IGR {
  background-position: -0px -1625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F35_AMX_AC_Mle1946 {
  background-position: -0px -1650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F36_AMX_AC_Mle1948 {
  background-position: -0px -1675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F36_AMX_AC_Mle1948_IGR {
  background-position: -0px -1700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F44_Somua_S35 {
  background-position: -0px -1725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F49_RenaultR35 {
  background-position: -0px -1750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F50_FCM36_20t {
  background-position: -0px -1775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F64_AMX_50Fosh_155 {
  background-position: -0px -1800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F65_FCM_50t {
  background-position: -0px -1825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F68_AMX_Chasseur_de_char_46 {
  background-position: -0px -1850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F69_AMX13_57_100 {
  background-position: -0px -1875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F69_AMX13_57_100_GrandFinal {
  background-position: -0px -1900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F70_SARL42 {
  background-position: -0px -1925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F71_AMX_30_prototype {
  background-position: -0px -1950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F72_AMX_30 {
  background-position: -0px -1975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F73_M4A1_Revalorise {
  background-position: -0px -2000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F74_AMX_M4_1949 {
  background-position: -0px -2025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-F75_Char_de_25t {
  background-position: -0px -2050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-FCM_36Pak40 {
  background-position: -0px -2075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Hotchkiss_H35 {
  background-position: -0px -2100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Lorraine155_50 {
  background-position: -0px -2125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Lorraine155_51 {
  background-position: -0px -2150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Lorraine39_L_AM {
  background-position: -0px -2175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Lorraine40t {
  background-position: -0px -2200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-RenaultBS {
  background-position: -0px -2225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-RenaultFT {
  background-position: -0px -2250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-RenaultFT_AC {
  background-position: -0px -2275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-RenaultFT_bot {
  background-position: -0px -2300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-RenaultUE57 {
  background-position: -0px -2325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-S_35CA {
  background-position: -0px -2350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-Somua_Sau_40 {
  background-position: -0px -2375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-france-_105_leFH18B2 {
  background-position: -0px -2400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Auf_Panther {
  background-position: -0px -2425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-B-1bis_captured {
  background-position: -0px -2450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-DW_II {
  background-position: -0px -2475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-DickerMax {
  background-position: -0px -2500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-E-100 {
  background-position: -0px -2525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-E-25 {
  background-position: -0px -2550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-E-50 {
  background-position: -0px -2575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-E-75 {
  background-position: -0px -2600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-E50_Ausf_M {
  background-position: -0px -2625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Ferdinand {
  background-position: -0px -2650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G02_Hummel {
  background-position: -0px -2675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G06_PzII {
  background-position: -0px -2700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G06_PzII_bot {
  background-position: -0px -2725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G07_Pz35t {
  background-position: -0px -2750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G100_Gtraktor_Krupp {
  background-position: -0px -2775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G101_StuG_III {
  background-position: -0px -2800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G103_RU_251 {
  background-position: -0px -2825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G104_Stug_IV {
  background-position: -0px -2850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G105_T-55_NVA_DDR {
  background-position: -0px -2875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G106_PzKpfwPanther_AusfF {
  background-position: -0px -2900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G107_PzKpfwIII_AusfK {
  background-position: -0px -2925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G108_PzKpfwII_AusfD {
  background-position: -0px -2950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G109_Steyr_WT {
  background-position: -0px -2975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G112_KanonenJagdPanzer {
  background-position: -0px -3000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G113_SP_I_C {
  background-position: -0px -3025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G114_Skorpian {
  background-position: -0px -3050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G115_Typ_205_4_Jun {
  background-position: -0px -3075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G116_Turan_III_prot {
  background-position: -0px -3100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G117_Toldi_III {
  background-position: -0px -3125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G118_VK4503 {
  background-position: -0px -3150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G119_Panzer58 {
  background-position: -0px -3175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G119_Pz58_Mutz {
  background-position: -0px -3200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G11_Bison_I {
  background-position: -0px -3225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G120_M41_90 {
  background-position: -0px -3250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G121_Grille_15_L63 {
  background-position: -0px -3275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G13_VK3001H {
  background-position: -0px -3300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G15_VK3601H {
  background-position: -0px -3325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G16_PzVIB_Tiger_II {
  background-position: -0px -3350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G16_PzVIB_Tiger_II_IGR {
  background-position: -0px -3375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G17_JagdPzIV {
  background-position: -0px -3400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G19_Wespe {
  background-position: -0px -3425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G20_Marder_II {
  background-position: -0px -3450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G21_PanzerJager_I {
  background-position: -0px -3475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G22_Sturmpanzer_II {
  background-position: -0px -3500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G23_Grille {
  background-position: -0px -3525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G25_PzII_Luchs {
  background-position: -0px -3550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G26_VK1602 {
  background-position: -0px -3575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G34_S35_captured {
  background-position: -0px -3600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G36_PzII_J {
  background-position: -0px -3625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G39_Marder_III {
  background-position: -0px -3650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G40_Nashorn {
  background-position: -0px -3675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G44_JagdTiger {
  background-position: -0px -3700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G45_G_Tiger {
  background-position: -0px -3725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G46_T-25 {
  background-position: -0px -3750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G48_E-25 {
  background-position: -0px -3775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G48_E-25_IGR {
  background-position: -0px -3800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G52_Pz38_NA {
  background-position: -0px -3825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G58_VK4502P {
  background-position: -0px -3850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G65_JagdTiger_SdKfz_185 {
  background-position: -0px -3875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G65_JagdTiger_SdKfz_185_IGR {
  background-position: -0px -3900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G71_JagdPantherII {
  background-position: -0px -3925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G78_Panther_M10 {
  background-position: -0px -3950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G82_Pz_II_AusfG {
  background-position: -0px -3975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G86_VK2001DB {
  background-position: -0px -4000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G89_Leopard1 {
  background-position: -0px -4025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G91_Pro_Ag_A {
  background-position: -0px -4050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G92_VK7201 {
  background-position: -0px -4075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G93_GW_Mk_VIe {
  background-position: -0px -4100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-GW_Tiger_P {
  background-position: -0px -4125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G_E {
  background-position: -0px -4150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G_Panther {
  background-position: -0px -4175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-G_Tiger {
  background-position: -0px -4200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-H39_captured {
  background-position: -0px -4225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Hetzer {
  background-position: -0px -4250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Indien_Panzer {
  background-position: -0px -4275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-JagdPanther {
  background-position: -0px -4300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-JagdPz_E100 {
  background-position: -0px -4325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Lowe {
  background-position: -0px -4350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Ltraktor {
  background-position: -0px -4375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Ltraktor_bot {
  background-position: -0px -4400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Maus {
  background-position: -0px -4425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Nashorn {
  background-position: -0px -4450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Panther_II {
  background-position: -0px -4475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Pz38t {
  background-position: -0px -4500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzI {
  background-position: -0px -4525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzIII_A {
  background-position: -0px -4550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzIII_AusfJ {
  background-position: -0px -4575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzIII_IV {
  background-position: -0px -4600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzII_Luchs {
  background-position: -0px -4625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzIV {
  background-position: -0px -4650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzIV_Hydro {
  background-position: -0px -4675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzIV_schmalturm {
  background-position: -0px -4700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzI_ausf_C {
  background-position: -0px -4725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzV {
  background-position: -0px -4750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzVI {
  background-position: -0px -4775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzVI_Tiger_P {
  background-position: -0px -4800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzV_PzIV {
  background-position: -0px -4825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-PzV_PzIV_ausf_Alfa {
  background-position: -0px -4850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Pz_IV_AusfA {
  background-position: -0px -4875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Pz_IV_AusfD {
  background-position: -0px -4900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Pz_IV_AusfH {
  background-position: -0px -4925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Pz_Sfl_IVb {
  background-position: -0px -4950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Pz_Sfl_IVc {
  background-position: -0px -4975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-RhB_Waffentrager {
  background-position: -0px -5000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-StuG_40_AusfG {
  background-position: -0px -5025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Sturer_Emil {
  background-position: -0px -5050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-T-15 {
  background-position: -0px -5075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-T-25 {
  background-position: -0px -5100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK2801 {
  background-position: -0px -5125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK3001H {
  background-position: -0px -5150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK3001P {
  background-position: -0px -5175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK3002DB {
  background-position: -0px -5200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK3002DB_V1 {
  background-position: -0px -5225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK3002M {
  background-position: -0px -5250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK4502A {
  background-position: -0px -5275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK4502P {
  background-position: -0px -5300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-VK7201 {
  background-position: -0px -5325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Waffentrager_E100 {
  background-position: -0px -5350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-germany-Waffentrager_IV {
  background-position: -0px -5375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_Ha {
  background-position: -0px -5400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_He {
  background-position: -0px -5425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_Ni {
  background-position: -0px -5450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_Nu {
  background-position: -0px -5475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_Nu_Kai {
  background-position: -0px -5500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_Ri {
  background-position: -0px -5525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Chi_To {
  background-position: -0px -5550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Ha_Go {
  background-position: -0px -5575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J03_Ha_Go {
  background-position: -0px -5600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J04_Ke_Ni {
  background-position: -0px -5625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J06_Ke_Ho {
  background-position: -0px -5650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J07_Chi_Ha {
  background-position: -0px -5675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J08_Chi_Nu {
  background-position: -0px -5700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J15_Chi_Ni {
  background-position: -0px -5725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J18_STA_2_3 {
  background-position: -0px -5750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J19_Tiger_I_Jpn {
  background-position: -0px -5775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J20_Type_2605 {
  background-position: -0px -5800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J21_Type_91 {
  background-position: -0px -5825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J22_Type_95 {
  background-position: -0px -5850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J23_Mi_To {
  background-position: -0px -5875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J24_Mi_To_130_tons {
  background-position: -0px -5900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J25_Type_4 {
  background-position: -0px -5925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J26_Type_89 {
  background-position: -0px -5950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J27_O_I_120 {
  background-position: -0px -5975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-J28_O_I_100 {
  background-position: -0px -6000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Ke_Ho {
  background-position: -0px -6025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Ke_Ni {
  background-position: -0px -6050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Ke_Ni_B {
  background-position: -0px -6075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-NC27 {
  background-position: -0px -6100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-NC27_bot {
  background-position: -0px -6125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-STA_1 {
  background-position: -0px -6150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-ST_B1 {
  background-position: -0px -6175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Te_Ke {
  background-position: -0px -6200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-japan-Type_61 {
  background-position: -0px -6225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-noImage {
  background-position: -0px -6250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB01_Medium_Mark_I {
  background-position: -0px -6275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB01_Medium_Mark_I_bot {
  background-position: -0px -6300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB03_Cruiser_Mk_I {
  background-position: -0px -6325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB04_Valentine {
  background-position: -0px -6350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB05_Vickers_Medium_Mk_II {
  background-position: -0px -6375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB05_Vickers_Medium_Mk_II_bot {
  background-position: -0px -6400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB06_Vickers_Medium_Mk_III {
  background-position: -0px -6425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB07_Matilda {
  background-position: -0px -6450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB08_Churchill_I {
  background-position: -0px -6475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB09_Churchill_VII {
  background-position: -0px -6500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB10_Black_Prince {
  background-position: -0px -6525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB11_Caernarvon {
  background-position: -0px -6550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB12_Conqueror {
  background-position: -0px -6575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB13_FV215b {
  background-position: -0px -6600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB14_M2 {
  background-position: -0px -6625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB15_Stuart_I {
  background-position: -0px -6650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB17_Grant_I {
  background-position: -0px -6675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB19_Sherman_Firefly {
  background-position: -0px -6700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB20_Crusader {
  background-position: -0px -6725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-china-Ch02_Type62 {
  background-position: -0px -6750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB22_Comet {
  background-position: -0px -6775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB23_Centurion {
  background-position: -0px -6800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB24_Centurion_Mk3 {
  background-position: -0px -6825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB25_Loyd_Gun_Carriage {
  background-position: -0px -6850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB26_Birch_Gun {
  background-position: -0px -6875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB27_Sexton {
  background-position: -0px -6900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB28_Bishop {
  background-position: -0px -6925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB29_Crusader_5inch {
  background-position: -0px -6950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB30_FV3805 {
  background-position: -0px -6975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB31_Conqueror_Gun {
  background-position: -0px -7000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB32_Tortoise {
  background-position: -0px -7025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB33_Sentinel_AC_I {
  background-position: -0px -7050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB35_Sentinel_AC_IV {
  background-position: -0px -7075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB39_Universal_CarrierQF2 {
  background-position: -0px -7100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB40_Gun_Carrier_Churchill {
  background-position: -0px -7125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB41_Challenger {
  background-position: -0px -7150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB42_Valentine_AT {
  background-position: -0px -7175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB44_Archer {
  background-position: -0px -7200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB45_Achilles_IIC {
  background-position: -0px -7225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB48_FV215b_183 {
  background-position: -0px -7250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB50_Sherman_III {
  background-position: -0px -7275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB51_Excelsior {
  background-position: -0px -7300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB52_A45 {
  background-position: -0px -7325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB57_Alecto {
  background-position: -0px -7350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB58_Cruiser_Mk_III {
  background-position: -0px -7375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB59_Cruiser_Mk_IV {
  background-position: -0px -7400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB60_Covenanter {
  background-position: -0px -7425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB63_TOG_II {
  background-position: -0px -7450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB68_Matilda_Black_Prince {
  background-position: -0px -7475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB69_Cruiser_Mk_II {
  background-position: -0px -7500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB70_FV4202_105 {
  background-position: -0px -7525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB70_N_FV4202_105 {
  background-position: -0px -7550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB71_AT_15A {
  background-position: -0px -7575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB72_AT15 {
  background-position: -0px -7600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB73_AT2 {
  background-position: -0px -7625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB74_AT8 {
  background-position: -0px -7650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB75_AT7 {
  background-position: -0px -7675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB76_Mk_VIC {
  background-position: -0px -7700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB77_FV304 {
  background-position: -0px -7725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB78_Sexton_I {
  background-position: -0px -7750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB79_FV206 {
  background-position: -0px -7775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB80_Charioteer {
  background-position: -0px -7800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB81_FV4004 {
  background-position: -0px -7825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB83_FV4005 {
  background-position: -0px -7850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB84_Chieftain_Mk6 {
  background-position: -0px -7875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB85_Cromwell_Berlin {
  background-position: -0px -7900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB86_Centurion_Action_X {
  background-position: -0px -7925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-uk-GB87_Chieftain_T95_turret {
  background-position: -0px -7950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-unknown {
  background-position: -0px -7975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A02_M2_lt {
  background-position: -0px -8000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A03_M3_Stuart {
  background-position: -0px -8025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A05_M4_Sherman {
  background-position: -0px -8050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A05_M4_Sherman_IGR {
  background-position: -0px -8075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A07_T20 {
  background-position: -0px -8100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A09_T1_hvy {
  background-position: -0px -8125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A101_M56 {
  background-position: -0px -8150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A102_T28_concept {
  background-position: -0px -8175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A103_T71E1 {
  background-position: -0px -8200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A104_M4A3E8A {
  background-position: -0px -8225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A106_M48A2_120 {
  background-position: -0px -8250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A107_T1_HMC {
  background-position: -0px -8275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A108_T18_HMC {
  background-position: -0px -8300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A109_T56_GMC {
  background-position: -0px -8325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A111_T25_Pilot {
  background-position: -0px -8350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A11_T29 {
  background-position: -0px -8375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A11_T29_IGR {
  background-position: -0px -8400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A12_T32 {
  background-position: -0px -8425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A13_T34_hvy {
  background-position: -0px -8450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A13_T34_hvy_IGR {
  background-position: -0px -8475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A14_T30 {
  background-position: -0px -8500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A16_M7_Priest {
  background-position: -0px -8525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A18_M41 {
  background-position: -0px -8550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A23_M7_med {
  background-position: -0px -8575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A24_T2_med {
  background-position: -0px -8600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A24_T2_med_bot {
  background-position: -0px -8625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A25_M2_med {
  background-position: -0px -8650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A27_T82 {
  background-position: -0px -8675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A29_T40 {
  background-position: -0px -8700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A30_M10_Wolverine {
  background-position: -0px -8725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A35_Pershing {
  background-position: -0px -8750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A36_Sherman_Jumbo {
  background-position: -0px -8775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A45_M6A2E1 {
  background-position: -0px -8800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A46_T3 {
  background-position: -0px -8825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A63_M46_Patton {
  background-position: -0px -8850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A63_M46_Patton_KR {
  background-position: -0px -8875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A68_T28_Prototype {
  background-position: -0px -8900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A69_T110E5 {
  background-position: -0px -8925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A78_M4_Improved {
  background-position: -0px -8950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A80_T26_E4_SuperPershing {
  background-position: -0px -8975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A83_T110E4 {
  background-position: -0px -9000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A84_M48A1 {
  background-position: -0px -9025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A85_T110E3 {
  background-position: -0px -9050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A86_T23E3 {
  background-position: -0px -9075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A87_M44 {
  background-position: -0px -9100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A88_M53_55 {
  background-position: -0px -9125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A89_T54E1 {
  background-position: -0px -9150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A94_T37 {
  background-position: -0px -9175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-A95_T95_E6 {
  background-position: -0px -9200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M103 {
  background-position: -0px -9225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M12 {
  background-position: -0px -9250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M18_Hellcat {
  background-position: -0px -9275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M22_Locust {
  background-position: -0px -9300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M24_Chaffee {
  background-position: -0px -9325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M36_Slagger {
  background-position: -0px -9350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M37 {
  background-position: -0px -9375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M3_Grant {
  background-position: -0px -9400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M40M43 {
  background-position: -0px -9425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M41_Bulldog {
  background-position: -0px -9450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M44 {
  background-position: -0px -9475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M4A2E4 {
  background-position: -0px -9500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M4A3E8_Sherman {
  background-position: -0px -9525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M4_Sherman {
  background-position: -0px -9550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M53_55 {
  background-position: -0px -9575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M5_Stuart {
  background-position: -0px -9600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M6 {
  background-position: -0px -9625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M60 {
  background-position: -0px -9650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M7_Priest {
  background-position: -0px -9675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-M8A1 {
  background-position: -0px -9700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-MTLS-1G14 {
  background-position: -0px -9725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-Ram-II {
  background-position: -0px -9750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T14 {
  background-position: -0px -9775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T18 {
  background-position: -0px -9800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T1_Cunningham {
  background-position: -0px -9825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T1_Cunningham_bot {
  background-position: -0px -9850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T1_E6 {
  background-position: -0px -9875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T1_hvy {
  background-position: -0px -9900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T20 {
  background-position: -0px -9925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T21 {
  background-position: -0px -9950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T25_2 {
  background-position: -0px -9975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T25_AT {
  background-position: -0px -10000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T28 {
  background-position: -0px -10025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T28_Prototype {
  background-position: -0px -10050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T29 {
  background-position: -0px -10075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T2_lt {
  background-position: -0px -10100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T30 {
  background-position: -0px -10125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T40 {
  background-position: -0px -10150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T49 {
  background-position: -0px -10175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T54E1 {
  background-position: -0px -10200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T57 {
  background-position: -0px -10225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T57_58 {
  background-position: -0px -10250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T67 {
  background-position: -0px -10275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T69 {
  background-position: -0px -10300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T7_Combat_Car {
  background-position: -0px -10325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T92 {
  background-position: -0px -10350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T95 {
  background-position: -0px -10375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T95_E2 {
  background-position: -0px -10400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-usa-T95_E6 {
  background-position: -0px -10425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-A-20 {
  background-position: -0px -10450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-A-32 {
  background-position: -0px -10475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-A43 {
  background-position: -0px -10500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-A44 {
  background-position: -0px -10525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-AT-1 {
  background-position: -0px -10550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-BT-2 {
  background-position: -0px -10575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-BT-7 {
  background-position: -0px -10600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-BT-SV {
  background-position: -0px -10625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Churchill_LL {
  background-position: -0px -10650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-GAZ-74b {
  background-position: -0px -10675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-IS-7 {
  background-position: -0px -10700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-IS-7_fallout {
  background-position: -0px -10725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-IS {
  background-position: -0px -10750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-ISU-152 {
  background-position: -0px -10775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV-13 {
  background-position: -0px -10800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV-1s {
  background-position: -0px -10825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV-3 {
  background-position: -0px -10850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV-5 {
  background-position: -0px -10875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV {
  background-position: -0px -10900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV2 {
  background-position: -0px -10925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-KV4 {
  background-position: -0px -10950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-LTP {
  background-position: -0px -10975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-M3_Stuart_LL {
  background-position: -0px -11000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-MS-1 {
  background-position: -0px -11025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-MS-1_bot {
  background-position: -0px -11050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-MT25 {
  background-position: -0px -11075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Matilda_II_LL {
  background-position: -0px -11100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object252 {
  background-position: -0px -11125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object263 {
  background-position: -0px -11150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object268 {
  background-position: -0px -11175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object416 {
  background-position: -0px -11200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object_140 {
  background-position: -0px -11225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object_261 {
  background-position: -0px -11250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object_430 {
  background-position: -0px -11275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object_907 {
  background-position: -0px -11300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Object_907A {
  background-position: -0px -11325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Observer {
  background-position: -0px -11350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R01_IS {
  background-position: -0px -11375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R02_SU-85 {
  background-position: -0px -11400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R04_T-34 {
  background-position: -0px -11425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R06_T-28 {
  background-position: -0px -11450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R100_SU122A {
  background-position: -0px -11475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R104_Object_430_II {
  background-position: -0px -11500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R105_BT_7A {
  background-position: -0px -11525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R106_KV85 {
  background-position: -0px -11550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R107_LTB {
  background-position: -0px -11575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R108_T34_85M {
  background-position: -0px -11600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R109_T54S {
  background-position: -0px -11625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R110_Object_260 {
  background-position: -0px -11650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R111_ISU130 {
  background-position: -0px -11675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R112_T54_45 {
  background-position: -0px -11700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R113_Object_730 {
  background-position: -0px -11725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R114_Object_244 {
  background-position: -0px -11750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R115_IS-3_auto {
  background-position: -0px -11775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R116_ISU122C_Berlin {
  background-position: -0px -11800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R117_T34_85_Rudy {
  background-position: -0px -11825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R118_T28_F30 {
  background-position: -0px -11850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R119_Object_777 {
  background-position: -0px -11875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R11_MS-1 {
  background-position: -0px -11900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R11_MS-1_bot {
  background-position: -0px -11925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R120_T22SR_A22 {
  background-position: -0px -11950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R121_KV4_KTT {
  background-position: -0px -11975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R122_T44_100 {
  background-position: -0px -12000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R123_Kirovets_1 {
  background-position: -0px -12025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R127_T44_100_P {
  background-position: -0px -12050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R12_A-20 {
  background-position: -0px -12075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R16_SU-18 {
  background-position: -0px -12100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R17_SU-100 {
  background-position: -0px -12125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R18_SU-152 {
  background-position: -0px -12150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R18_SU-152_IGR {
  background-position: -0px -12175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R19_IS-3 {
  background-position: -0px -12200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R24_SU-76 {
  background-position: -0px -12225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R38_KV-220 {
  background-position: -0px -12250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R38_KV-220_action {
  background-position: -0px -12275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R39_KV-3 {
  background-position: -0px -12300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R51_Object_212 {
  background-position: -0px -12325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R53_Object_704 {
  background-position: -0px -12350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R54_KV-5 {
  background-position: -0px -12375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R54_KV-5_IGR {
  background-position: -0px -12400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R61_Object252 {
  background-position: -0px -12425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R71_IS_2B {
  background-position: -0px -12450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R80_KV1 {
  background-position: -0px -12475px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R81_IS8 {
  background-position: -0px -12500px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R86_LTP {
  background-position: -0px -12525px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R87_T62A {
  background-position: -0px -12550px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R87_T62A_fallout {
  background-position: -0px -12575px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-R90_IS_4M {
  background-position: -0px -12600px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-S-51 {
  background-position: -0px -12625px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-ST_I {
  background-position: -0px -12650px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-100 {
  background-position: -0px -12675px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-101 {
  background-position: -0px -12700px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-14 {
  background-position: -0px -12725px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-152 {
  background-position: -0px -12750px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-18 {
  background-position: -0px -12775px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-26 {
  background-position: -0px -12800px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-5 {
  background-position: -0px -12825px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU-8 {
  background-position: -0px -12850px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU100M1 {
  background-position: -0px -12875px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU100Y {
  background-position: -0px -12900px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU122_44 {
  background-position: -0px -12925px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU122_54 {
  background-position: -0px -12950px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU14_1 {
  background-position: -0px -12975px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU76I {
  background-position: -0px -13000px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-SU_85I {
  background-position: -0px -13025px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-127 {
  background-position: -0px -13050px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-26 {
  background-position: -0px -13075px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-26_bot {
  background-position: -0px -13100px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-34-85 {
  background-position: -0px -13125px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-43 {
  background-position: -0px -13150px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-44 {
  background-position: -0px -13175px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-46 {
  background-position: -0px -13200px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-50 {
  background-position: -0px -13225px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-54 {
  background-position: -0px -13250px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-60 {
  background-position: -0px -13275px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T-70 {
  background-position: -0px -13300px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T150 {
  background-position: -0px -13325px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T44_122 {
  background-position: -0px -13350px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T44_85 {
  background-position: -0px -13375px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T80 {
  background-position: -0px -13400px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-T_50_2 {
  background-position: -0px -13425px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Tetrarch_LL {
  background-position: -0px -13450px;
  width: 80px;
  height: 25px;
}
.wot-icon-set3-ussr-Valentine_LL {
  background-position: -0px -13475px;
  width: 80px;
  height: 25px;
}
